In [2]:
import pandas as pd
import numpy as np
import os

In [4]:
os.chdir('H://Current_Working_Folder//Reports Analytics//202101')

In [7]:
os.listdir()

['202101-t_worc_adults-20210420_1049.xlsx',
 '202101-t_worc_children-20210420_1049.xlsx',
 '202101-t_worc_families-20210420_1049.xlsx',
 'adult_test.xlsx',
 'child_test.xlsx',
 'fam_test.xlsx',
 't_worc_adults.csv',
 't_worc_children.csv',
 't_worc_families.csv',
 '~$202101-t_worc_families-20210420_1049.xlsx',
 '~$fam_test.xlsx']

In [29]:
fam = pd.read_excel('fam_test.xlsx')
fam = pd.DataFrame(fam)
adu = pd.read_excel('adult_test.xlsx')
adu = pd.DataFrame(adu)
chi = pd.read_excel( 'child_test.xlsx')
chi = pd.DataFrame(chi)

In [30]:
fam_adu_chi = pd.concat([fam,adu,chi],axis = 1)

In [31]:
fam_adu_chi

,id,category,reporting_month,case_number,family_type,exempt_time_limit,id,reporting_month,case_number,family_affiliation,relation_to_hoh,exemp_state_limit,work_elig_ind,work_partic_status,id,reporting_month,case_number,family_affiliation,relation_to_hoh,parent_minor_child
0,489620.0,Tea,202101.0,329790.0,Family with no work-eligible individual,"Yes, family is exempt from accrual of months ...",494706.0,202101.0,329790.0,Caretaker relative of minor child in the eligi...,Head-of-household,"Not applicable, no State (Tribal) time limit","No, an ineligible non-citizen due to his/her i...","Not applicable (e.g., not a work-eligible indi...",827065,202101,329790,Member of the eligible family receiving assist...,Grandchild or great grandchild,Not parent with minor child in the family
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,827066,202101,329790,Member of the eligible family receiving assist...,Grandchild or great grandchild,Yes parent with minor child in the family

In [ ]:
result = pd.concat([df1, df4], axis=1)

In [16]:
fam.shape

(1, 6)

In [17]:
adu.shape

(1, 8)

In [24]:
chi.shape

(1, 6)

In [19]:
fam_adu.shape

(1, 12)

In [25]:
fam_adu_chi.shape

(1, 16)