In [1]:
import pandas as pd
import numpy as np
import time
import os

t = time.localtime()
timestamp = time.strftime('%y%m%d-%H%M', t)

# read excel
df = pd.read_excel('H://Current_Working_Folder//Reports Analytics//202005//202005-t_worc_families-20200717_1105.xlsx')

# assign path and reporitng month
drive = 'H://Current_Working_Folder//Reports Analytics//'
reporting_month = str(df.loc[0,'reporting_month'])

# Filter with column names ending with amt, amount, nbr_month
df_amt = df.filter(regex = 'amt$|amount$|amount$|nbr_month$|nbr_months', axis='columns')

# Describe the filtered dataframe
df_des = df_amt.describe()

# Write the describe to excel
writer = pd.ExcelWriter(drive + reporting_month + '//' + reporting_month + '_' + 'report' + '-' + timestamp + '.xlsx')
#df_des.to_excel(writer, index = False)
df_des.to_excel(writer, sheet_name='family_stat')
writer.save()

In [2]:
#df.columns

In [3]:
df.shape

(2338, 56)

In [4]:
df['subsid_child_care'].value_counts()

No subsidized child care received                                                                                                                 2337
Yes, receives child care funded entirely or in part with Federal funds (e.g., receives TANF, CCDF, SSBG, or other federally funded child care)       1
Name: subsid_child_care, dtype: int64

In [5]:
df['subsid_child_care_amt'].sum()

217

In [6]:
df['tanf child care_children_covered'].value_counts()

0    2338
Name: tanf child care_children_covered, dtype: int64

In [7]:
df['tanf child care_amount'].sum()

0

In [8]:
cat = df.drop(df_amt, axis='columns')
#cat1 = cat.drop((cat.loc[:,'reporting_month':'stratum']),axis='columns')
cat1 = cat.drop(['id','reporting_month','case_number','county_fips_code','stratum','disposition','worker_id',
                 'case_manager','area','created_by','updated_by','created_at','updated_at','ans_county',
                 'local_office','waiver_grps'], axis='columns')
cat2 = cat1.drop(cat1.filter(regex = '^reason|^other'), axis='columns')

In [9]:
reason_cat = cat1.filter(regex = '^reason', axis='columns')

for c in reason_cat.columns:
    print(reason_cat[c].value_counts())
    print('---')

No     2326
Yes      12
Name: reason for amount of reduction_work requirements sanction, dtype: int64
---
No    2338
Name: reason for amount of reduction_Family Sanction for an Adult with No High School Diploma or Equivalent, dtype: int64
---
No    2338
Name: reason for amount of reduction_Sanction for Teen Parent not Attending School, dtype: int64
---
No     2325
Yes      13
Name: reason for amount of reduction_Non-Cooperation with Child Support, dtype: int64
---
No    2338
Name: reason for amount of reduction_Failure to Comply with an Individual Responsibility Plan, dtype: int64
---
No     2337
Yes       1
Name: reason for amount of reduction_Other Sanction, dtype: int64
---
0    2338
Name: reason for amount of reduction_Recoupment of Prior Overpayment, dtype: int64
---

In [10]:
#((df.filter(regex = '^reason'))).head(20)

In [11]:
for c in cat2.columns:
    print((cat2[c].value_counts().to_frame('count').rename_axis(c)).reset_index())
    print('---')

   category  count
0       Tea   2112
1  WorkPays    226
---
     zip_code  count
0       71854     79
1       72301     69
2       72209     69
3       72401     58
4       72114     44
5       72390     43
6       72335     41
7       72204     40
8       72076     37
9       72901     37
10      72956     37
11      72764     34
12      72206     33
13      72450     33
14      71601     32
15      72143     32
16      72315     32
17      72360     30
18      72117     30
19      71701     30
20      71603     28
21      72904     26
22      72701     25
23      71901     25
24      72342     24
25      71953     23
26      72032     22
27      72601     22
28      72112     21
29      71753     21
..        ...    ...
327     72567      1
328     72533      1
329     72523      1
330     72519      1
331     72513      1
332     72833      1
333     72845      1
334     72857      1
335     71670      1
336     72064      1
337     72030      1
338     72022      1
339     72016      1
340     71964      1
341     71956      1
342     71944      1
343     71838      1
344     71826      1
345     71660      1
346     72863      1
347     71658      1
348     71642      1
349     77541      1
350     75062      1
351     72969      1
352     72923      1
353     38104      1
354     72917      1
355     74960      1
356     71752      1

[357 rows x 2 columns]
---
                                      funding_stream  count
0  Funded, in whole or in part, with Federal TANF...   2338
---
                       new_applicant  count
0     Not newly-approved application   2327
1  Yes, a newly-approved application     11
---
   family_size  count
0            2    915
1            1    538
2            3    512
3            4    244
4            5     95
5            6     25
6            7      7
7            9      1
8            8      1
---
                                         family_type  count
0  Family included only in overall work participa...   1226
1            Family with no work-eligible individual   1032
2  Two-Parent Family included in both the overall...     77
3                                          Not found      3
---
       subsid_housing  count
0  No housing subsidy   2338
---
                           medical_assist  count
0     Does not receive Medical Assistance   1589
1   Yes, enrolled in Medicaid and/or CHIP    749
---
                           food_stamps  count
0  Yes, receives food stamp assistance   1752
1          Does not receive food stamp    586
---
                                   subsid_child_care  count
0                  No subsidized child care received   2337
1  Yes, receives child care funded entirely or in...      1
---
   tanf child care_children_covered  count
0                                 0   2338
---
  Other, Non-sanction  count
0                  No   2338
---
                                   exempt_time_limit  count
0      Family is not exempt from Federal time limit.   1317
1   Yes, family is exempt from accrual of months ...   1021
---
                 new_child_only_fam  count
0   No, not a new child-only family   2327
1      Yes, a new child-only family     11
---
                       county  count
0                  Washington    119
1             Pulaski - North    114
2                   Sebastian    104
3                  Crittenden    103
4         Pulaski - Southwest     93
5                      Miller     88
6                   Craighead     88
7             Pulaski - South     83
8                   Jefferson     81
9                    Phillips     81
10                     Benton     66
11                      White     60
12     Pulaski - Jacksonville     57
13                    Garland     55
14                 St Francis     55
15                   Crawford     50
16                   Faulkner     48
17  Mississippi - Blytheville     39
18                   Ouachita     38
19                     Greene     37
20                     Ashley     33
21                       Polk     32
22                        Lee     32
23                      Boone     30
24                   Poinsett     28
25                   Columbia     28
26             Pulaski - East     27
27                     Conway     27
28                       Pope     27
29                     Baxter     27
..                        ...    ...
52                     Howard     11
53              Clay - Piggot     11
54         Logan - Booneville     10
55                      Izard      9
56                      Clark      9
57                      Scott      9
58                     Fulton      9
59                   Woodruff      9
60                  Van Buren      8
61                     Dallas      8
62                    Madison      8
63                  Lafayette      8
64            Monroe-Brinkley      8
65                 Hot Spring      8
66                      Stone      7
67                      Perry      7
68                   Randolph      6
69                     Newton      6
70         Arkansas-Stuttgart      6
71              Logan - Paris      6
72                     Searcy      6
73                  Cleveland      6
74            Arkansas-Dewitt      4
75                    Prairie      4
76                   Franklin      4
77                 Montgomery      4
78                       Yell      2
79           Monroe-Clarendon      2
80                       Pike      1
81                    Carroll      1

[82 rows x 2 columns]
---

In [12]:
worc_fam = df
fam_type = worc_fam.groupby(['category','family_type']).agg({'case_number' : 'nunique'}).rename({'case_number': 'case_count'}, axis='columns')#.reset_index()
fam_type

                                                             case_count
category family_type
Tea      Family included only in overall work participat...        1016
         Family with no work-eligible individual                   1032
         Not found                                                    3
         Two-Parent Family included in both the overall ...          61
WorkPays Family included only in overall work participat...         210
         Two-Parent Family included in both the overall ...          16