In [2]:
import pandas as pd
import numpy as np
import time
import os

t = time.localtime()
timestamp = time.strftime('%y%m%d-%H%M', t)

# read excel
df = pd.read_excel('H://Current_Working_Folder//Reports Analytics//202105//Version 2//202105-t_worc_families-20210810_1307.xlsx')

# assign path and reporitng month
drive = 'H://Current_Working_Folder//Reports Analytics//'
reporting_month = str(df.loc[0,'reporting_month'])

# Filter with column names ending with amt, amount, nbr_month
df_amt = df.filter(regex = 'amt$|amount$|amount$|nbr_month$|nbr_months', axis='columns')

# Describe the filtered dataframe
df_des = df_amt.describe()

# Write the describe to excel
writer = pd.ExcelWriter(drive + reporting_month + '//' + reporting_month + '_' + 'report' + '-' + timestamp + '.xlsx')
#df_des.to_excel(writer, index = False)
df_des.to_excel(writer, sheet_name='family_stat')
writer.save()

In [3]:
#df.columns

In [4]:
df.shape

(1615, 56)

In [5]:
df['subsid_child_care'].value_counts()

No subsidized child care received                                                                                                                 1493
Yes, receives child care funded entirely or in part with Federal funds (e.g., receives TANF, CCDF, SSBG, or other federally funded child care)     122
Name: subsid_child_care, dtype: int64

In [6]:
df['subsid_child_care_amt'].sum()

101575

In [7]:
df['tanf child care_children_covered'].value_counts()

0    1615
Name: tanf child care_children_covered, dtype: int64

In [8]:
df['tanf child care_amount'].sum()

0

In [9]:
cat = df.drop(df_amt, axis='columns')
#cat1 = cat.drop((cat.loc[:,'reporting_month':'stratum']),axis='columns')
cat1 = cat.drop(['id','reporting_month','case_number','county_fips_code','stratum','disposition','worker_id',
                 'case_manager','area','created_by','updated_by','created_at','updated_at','ans_county',
                 'local_office','waiver_grps'], axis='columns')
cat2 = cat1.drop(cat1.filter(regex = '^reason|^other'), axis='columns')

In [10]:
reason_cat = cat1.filter(regex = '^reason', axis='columns')

for c in reason_cat.columns:
    print(reason_cat[c].value_counts())
    print('---')

No     1364
Yes     251
Name: reason for amount of reduction_work requirements sanction, dtype: int64
---
No    1615
Name: reason for amount of reduction_Family Sanction for an Adult with No High School Diploma or Equivalent, dtype: int64
---
No    1615
Name: reason for amount of reduction_Sanction for Teen Parent not Attending School, dtype: int64
---
No     1525
Yes      90
Name: reason for amount of reduction_Non-Cooperation with Child Support, dtype: int64
---
No     1612
Yes       3
Name: reason for amount of reduction_Failure to Comply with an Individual Responsibility Plan, dtype: int64
---
No     1611
Yes       4
Name: reason for amount of reduction_Other Sanction, dtype: int64
---
0    1615
Name: reason for amount of reduction_Recoupment of Prior Overpayment, dtype: int64
---

In [11]:
#((df.filter(regex = '^reason'))).head(20)

In [12]:
for c in cat2.columns:
    print((cat2[c].value_counts().to_frame('count').rename_axis(c)).reset_index())
    print('---')

   category  count
0       Tea   1509
1  WorkPays    106
---
     zip_code  count
0       71854     63
1       72209     49
2       72301     44
3       72390     40
4       72401     34
..        ...    ...
313     72566      1
314     72137      1
315     72145      1
316     72436      1
317     72654      1

[318 rows x 2 columns]
---
                                      funding_stream  count
0  Funded, in whole or in part, with Federal TANF...   1615
---
                       new_applicant  count
0     Not newly-approved application   1611
1  Yes, a newly-approved application      4
---
   family_size  count
0            2    621
1            1    458
2            3    330
3            4    138
4            5     49
5            6     15
6            7      2
7            8      1
8           10      1
---
                                         family_type  count
0            Family with no work-eligible individual    864
1  Family included only in overall work participa...    715
2  Two-Parent Family included in both the overall...     36
---
       subsid_housing  count
0  No housing subsidy   1614
1      Public housing      1
---
                           medical_assist  count
0     Does not receive Medical Assistance   1014
1   Yes, enrolled in Medicaid and/or CHIP    601
---
                           food_stamps  count
0  Yes, receives food stamp assistance   1039
1          Does not receive food stamp    576
---
                                   subsid_child_care  count
0                  No subsidized child care received   1493
1  Yes, receives child care funded entirely or in...    122
---
   tanf child care_children_covered  count
0                                 0   1615
---
  Other, Non-sanction  count
0                  No   1615
---
                                   exempt_time_limit  count
0   Yes, family is exempt from accrual of months ...    864
1      Family is not exempt from Federal time limit.    749
2  Yes, family is exempt from termination of assi...      2
---
                 new_child_only_fam  count
0   No, not a new child-only family   1611
1      Yes, a new child-only family      4
---
             county  count
0        Washington     84
1            Miller     76
2         Sebastian     76
3   Pulaski - South     72
4        Crittenden     69
..              ...    ...
73       Montgomery      2
74             Yell      2
75          Calhoun      1
76          Carroll      1
77   Pulaski - East      1

[78 rows x 2 columns]
---

In [13]:
worc_fam = df
fam_type = worc_fam.groupby(['category','family_type']).agg({'case_number' : 'nunique'}).rename({'case_number': 'case_count'}, axis='columns')#.reset_index()
fam_type

                                                             case_count
category family_type
Tea      Family included only in overall work participat...         615
         Family with no work-eligible individual                    864
         Two-Parent Family included in both the overall ...          30
WorkPays Family included only in overall work participat...         100
         Two-Parent Family included in both the overall ...           6