In [1]:
import pandas as pd
import numpy as np
import time
import os

t = time.localtime()
timestamp = time.strftime('%y%m%d-%H%M', t)

# read excel
df = pd.read_excel('H://Current_Working_Folder//Reports Analytics//202009//202009-t_worc_families-20201125_1134.xlsx')

# assign path and reporitng month
drive = 'H://Current_Working_Folder//Reports Analytics//'
reporting_month = str(df.loc[0,'reporting_month'])

# Filter with column names ending with amt, amount, nbr_month
df_amt = df.filter(regex = 'amt$|amount$|amount$|nbr_month$|nbr_months', axis='columns')

# Describe the filtered dataframe
df_des = df_amt.describe()

# Write the describe to excel
writer = pd.ExcelWriter(drive + reporting_month + '//' + reporting_month + '_' + 'report' + '-' + timestamp + '.xlsx')
#df_des.to_excel(writer, index = False)
df_des.to_excel(writer, sheet_name='family_stat')
writer.save()

In [2]:
#df.columns

In [3]:
df.shape

(2110, 56)

In [4]:
df['subsid_child_care'].value_counts()

No subsidized child care received    2110
Name: subsid_child_care, dtype: int64

In [5]:
df['subsid_child_care_amt'].sum()

0

In [6]:
df['tanf child care_children_covered'].value_counts()

0    2110
Name: tanf child care_children_covered, dtype: int64

In [7]:
df['tanf child care_amount'].sum()

0

In [8]:
cat = df.drop(df_amt, axis='columns')
#cat1 = cat.drop((cat.loc[:,'reporting_month':'stratum']),axis='columns')
cat1 = cat.drop(['id','reporting_month','case_number','county_fips_code','stratum','disposition','worker_id',
                 'case_manager','area','created_by','updated_by','created_at','updated_at','ans_county',
                 'local_office','waiver_grps'], axis='columns')
cat2 = cat1.drop(cat1.filter(regex = '^reason|^other'), axis='columns')

In [9]:
reason_cat = cat1.filter(regex = '^reason', axis='columns')

for c in reason_cat.columns:
    print(reason_cat[c].value_counts())
    print('---')

No     1917
Yes     193
Name: reason for amount of reduction_work requirements sanction, dtype: int64
---
No    2110
Name: reason for amount of reduction_Family Sanction for an Adult with No High School Diploma or Equivalent, dtype: int64
---
No    2110
Name: reason for amount of reduction_Sanction for Teen Parent not Attending School, dtype: int64
---
No     2036
Yes      74
Name: reason for amount of reduction_Non-Cooperation with Child Support, dtype: int64
---
No     2108
Yes       2
Name: reason for amount of reduction_Failure to Comply with an Individual Responsibility Plan, dtype: int64
---
No     2108
Yes       2
Name: reason for amount of reduction_Other Sanction, dtype: int64
---
0    2110
Name: reason for amount of reduction_Recoupment of Prior Overpayment, dtype: int64
---

In [10]:
#((df.filter(regex = '^reason'))).head(20)

In [11]:
for c in cat2.columns:
    print((cat2[c].value_counts().to_frame('count').rename_axis(c)).reset_index())
    print('---')

   category  count
0       Tea   1959
1  WorkPays    151
---
     zip_code  count
0       71854     72
1       72301     64
2       72209     60
3       72401     44
4       72335     43
5       72114     41
6       72390     39
7       72764     37
8       72901     34
9       72076     32
10      72204     32
11      72315     31
12      72450     31
13      72117     29
14      72206     28
15      71601     28
16      72904     28
17      72956     27
18      72342     26
19      72701     25
20      72360     25
21      72143     25
22      72118     24
23      72601     24
24      72112     23
25      71603     22
26      71913     20
27      72032     19
28      72370     19
29      72758     18
..        ...    ...
320     72567      1
321     72766      1
322     72537      1
323     72533      1
324     72523      1
325     72519      1
326     72513      1
327     72745      1
328     72718      1
329     72714      1
330     72917      1
331     92020      1
332     75504      1
333     75238      1
334     72969      1
335     70904      1
336     72949      1
337     72941      1
338     72654      1
339     74960      1
340     72811      1
341     72702      1
342     72863      1
343     72857      1
344     72853      1
345     72845      1
346     72843      1
347     72833      1
348     72821      1
349     71675      1

[350 rows x 2 columns]
---
                                      funding_stream  count
0  Funded, in whole or in part, with Federal TANF...   2110
---
                       new_applicant  count
0     Not newly-approved application   2089
1  Yes, a newly-approved application     21
---
   family_size  count
0            2    838
1            1    496
2            3    463
3            4    200
4            5     85
5            6     20
6            7      5
7           11      1
8            9      1
9            8      1
---
                                         family_type  count
0  Family included only in overall work participa...   1067
1            Family with no work-eligible individual    975
2  Two-Parent Family included in both the overall...     68
---
       subsid_housing  count
0  No housing subsidy   2109
1      Public housing      1
---
                           medical_assist  count
0     Does not receive Medical Assistance   1406
1   Yes, enrolled in Medicaid and/or CHIP    704
---
                           food_stamps  count
0  Yes, receives food stamp assistance   1403
1          Does not receive food stamp    707
---
                   subsid_child_care  count
0  No subsidized child care received   2110
---
   tanf child care_children_covered  count
0                                 0   2110
---
  Other, Non-sanction  count
0                  No   2110
---
                                   exempt_time_limit  count
0      Family is not exempt from Federal time limit.   1144
1   Yes, family is exempt from accrual of months ...    966
---
                 new_child_only_fam  count
0   No, not a new child-only family   2102
1      Yes, a new child-only family      8
---
                       county  count
0                  Washington    124
1             Pulaski - North    109
2                  Crittenden    101
3                   Sebastian    100
4         Pulaski - Southwest     87
5                      Miller     79
6                      Benton     78
7             Pulaski - South     78
8                    Phillips     74
9                   Craighead     69
10                  Jefferson     69
11                 St Francis     54
12     Pulaski - Jacksonville     45
13                    Garland     45
14  Mississippi - Blytheville     41
15                   Faulkner     41
16                      White     41
17                   Crawford     38
18                     Greene     37
19                      Boone     30
20                   Poinsett     29
21               Independence     27
22                     Ashley     27
23                        Lee     27
24                      Desha     26
25                   Columbia     26
26                     Chicot     25
27                   Ouachita     24
28                    Jackson     24
29                     Baxter     23
..                        ...    ...
52            Monroe-Brinkley     10
53                      Sharp      9
54              Logan - Paris      9
55                      Izard      8
56         Logan - Booneville      8
57                 Hot Spring      8
58               Little River      8
59                      Scott      8
60                  Lafayette      8
61                      Stone      8
62                     Newton      8
63                    Madison      8
64         Arkansas-Stuttgart      7
65                      Grant      7
66                     Nevada      7
67                     Dallas      6
68                     Fulton      6
69                  Van Buren      5
70                 Montgomery      5
71                  Cleveland      5
72                      Perry      4
73                    Prairie      4
74                     Searcy      4
75                   Randolph      4
76                   Franklin      3
77            Arkansas-Dewitt      3
78                       Yell      2
79                    Carroll      2
80                       Pike      1
81           Monroe-Clarendon      1

[82 rows x 2 columns]
---

In [12]:
worc_fam = df
fam_type = worc_fam.groupby(['category','family_type']).agg({'case_number' : 'nunique'}).rename({'case_number': 'case_count'}, axis='columns')#.reset_index()
fam_type

                                                             case_count
category family_type
Tea      Family included only in overall work participat...         927
         Family with no work-eligible individual                    975
         Two-Parent Family included in both the overall ...          57
WorkPays Family included only in overall work participat...         140
         Two-Parent Family included in both the overall ...          11