In [1]:
import pandas as pd
import numpy as np
import time
import os

t = time.localtime()
timestamp = time.strftime('%y%m%d-%H%M', t)

# read excel
df = pd.read_excel('H://Current_Working_Folder//Reports Analytics//202103//202103-t_worc_families-20210513_1628.xlsx')

# assign path and reporitng month
drive = 'H://Current_Working_Folder//Reports Analytics//'
reporting_month = str(df.loc[0,'reporting_month'])

# Filter with column names ending with amt, amount, nbr_month
df_amt = df.filter(regex = 'amt$|amount$|amount$|nbr_month$|nbr_months', axis='columns')

# Describe the filtered dataframe
df_des = df_amt.describe()

# Write the describe to excel
writer = pd.ExcelWriter(drive + reporting_month + '//' + reporting_month + '_' + 'report' + '-' + timestamp + '.xlsx')
#df_des.to_excel(writer, index = False)
df_des.to_excel(writer, sheet_name='family_stat')
writer.save()

In [2]:
#df.columns

In [3]:
df.shape

(1772, 56)

In [4]:
df['subsid_child_care'].value_counts()

No subsidized child care received                                                                                                                 1642
Yes, receives child care funded entirely or in part with Federal funds (e.g., receives TANF, CCDF, SSBG, or other federally funded child care)     130
Name: subsid_child_care, dtype: int64

In [5]:
df['subsid_child_care_amt'].sum()

116389

In [6]:
df['tanf child care_children_covered'].value_counts()

0    1772
Name: tanf child care_children_covered, dtype: int64

In [7]:
df['tanf child care_amount'].sum()

0

In [8]:
cat = df.drop(df_amt, axis='columns')
#cat1 = cat.drop((cat.loc[:,'reporting_month':'stratum']),axis='columns')
cat1 = cat.drop(['id','reporting_month','case_number','county_fips_code','stratum','disposition','worker_id',
                 'case_manager','area','created_by','updated_by','created_at','updated_at','ans_county',
                 'local_office','waiver_grps'], axis='columns')
cat2 = cat1.drop(cat1.filter(regex = '^reason|^other'), axis='columns')

In [9]:
reason_cat = cat1.filter(regex = '^reason', axis='columns')

for c in reason_cat.columns:
    print(reason_cat[c].value_counts())
    print('---')

No     1512
Yes     260
Name: reason for amount of reduction_work requirements sanction, dtype: int64
---
No    1772
Name: reason for amount of reduction_Family Sanction for an Adult with No High School Diploma or Equivalent, dtype: int64
---
No    1772
Name: reason for amount of reduction_Sanction for Teen Parent not Attending School, dtype: int64
---
No     1682
Yes      90
Name: reason for amount of reduction_Non-Cooperation with Child Support, dtype: int64
---
No     1769
Yes       3
Name: reason for amount of reduction_Failure to Comply with an Individual Responsibility Plan, dtype: int64
---
No     1769
Yes       3
Name: reason for amount of reduction_Other Sanction, dtype: int64
---
0    1772
Name: reason for amount of reduction_Recoupment of Prior Overpayment, dtype: int64
---

In [10]:
#((df.filter(regex = '^reason'))).head(20)

In [11]:
for c in cat2.columns:
    print((cat2[c].value_counts().to_frame('count').rename_axis(c)).reset_index())
    print('---')

   category  count
0       Tea   1671
1  WorkPays    101
---
     zip_code  count
0       71854     63
1       72301     51
2       72209     48
3       72401     40
4       72390     36
5       72204     35
6       72076     32
7       72335     32
8       72114     30
9       72315     28
10      72904     27
11      72901     27
12      71601     27
13      72764     25
14      71603     25
15      72450     25
16      72117     22
17      72360     22
18      72112     21
19      72956     21
20      72701     20
21      72601     19
22      72370     19
23      72206     18
24      71701     17
25      71671     17
26      72342     16
27      71913     16
28      71753     15
29      71901     15
..        ...    ...
301     72168      1
302     72153      1
303     72145      1
304     72142      1
305     72137      1
306     72384      1
307     72394      1
308     72411      1
309     72523      1
310     27516      1
311     72571      1
312     72569      1
313     72567      1
314     72566      1
315     72565      1
316     72550      1
317     72537      1
318     72533      1
319     72519      1
320     72416      1
321     72513      1
322     72473      1
323     72469      1
324     72466      1
325     72462      1
326     72460      1
327     72447      1
328     72436      1
329     72421      1
330     72415      1

[331 rows x 2 columns]
---
                                      funding_stream  count
0  Funded, in whole or in part, with Federal TANF...   1772
---
                       new_applicant  count
0     Not newly-approved application   1759
1  Yes, a newly-approved application     13
---
   family_size  count
0            2    679
1            1    473
2            3    369
3            4    166
4            5     60
5            6     18
6            8      3
7            7      3
8           10      1
---
                                         family_type  count
0            Family with no work-eligible individual    898
1  Family included only in overall work participa...    826
2  Two-Parent Family included in both the overall...     48
---
       subsid_housing  count
0  No housing subsidy   1771
1      Public housing      1
---
                           medical_assist  count
0     Does not receive Medical Assistance   1138
1   Yes, enrolled in Medicaid and/or CHIP    634
---
                           food_stamps  count
0  Yes, receives food stamp assistance   1282
1          Does not receive food stamp    490
---
                                   subsid_child_care  count
0                  No subsidized child care received   1642
1  Yes, receives child care funded entirely or in...    130
---
   tanf child care_children_covered  count
0                                 0   1772
---
  Other, Non-sanction  count
0                  No   1772
---
                                   exempt_time_limit  count
0   Yes, family is exempt from accrual of months ...    898
1      Family is not exempt from Federal time limit.    872
2  Yes, family is exempt from termination of assi...      2
---
                 new_child_only_fam  count
0   No, not a new child-only family   1766
1      Yes, a new child-only family      6
---
                       county  count
0                  Washington     88
1             Pulaski - South     86
2                   Sebastian     82
3                  Crittenden     78
4             Pulaski - North     78
5                      Miller     75
6                   Jefferson     74
7                      Benton     67
8                   Craighead     62
9                    Phillips     60
10        Pulaski - Southwest     57
11  Mississippi - Blytheville     55
12     Pulaski - Jacksonville     40
13                   Crawford     38
14                 St Francis     36
15                    Garland     36
16                   Faulkner     34
17               Independence     30
18                      White     30
19                     Greene     29
20                   Poinsett     27
21                    Jackson     24
22                        Lee     23
23                   Columbia     23
24                     Ashley     22
25                      Desha     22
26                      Boone     22
27                    Johnson     21
28                     Baxter     21
29                   Ouachita     20
..                        ...    ...
48              Clay - Piggot      9
49            Monroe-Brinkley      9
50                      Sharp      9
51                    Madison      9
52                   Lawrence      8
53                   Woodruff      8
54                 Hot Spring      8
55                      Stone      7
56                      Scott      7
57                      Izard      7
58                      Perry      7
59                      Grant      6
60                     Nevada      6
61               Little River      6
62                     Newton      6
63         Arkansas-Stuttgart      6
64                  Van Buren      5
65                   Randolph      5
66                  Cleveland      4
67                     Dallas      4
68                  Lafayette      4
69                    Carroll      3
70                     Fulton      3
71                    Prairie      3
72                     Searcy      3
73                   Franklin      3
74                       Yell      2
75                 Montgomery      2
76                       Pike      2
77             Pulaski - East      1

[78 rows x 2 columns]
---

In [12]:
worc_fam = df
fam_type = worc_fam.groupby(['category','family_type']).agg({'case_number' : 'nunique'}).rename({'case_number': 'case_count'}, axis='columns')#.reset_index()
fam_type

                                                             case_count
category family_type
Tea      Family included only in overall work participat...         734
         Family with no work-eligible individual                    898
         Two-Parent Family included in both the overall ...          39
WorkPays Family included only in overall work participat...          92
         Two-Parent Family included in both the overall ...           9