In [1]:
import pandas as pd
import numpy as np
import time
import os

t = time.localtime()
timestamp = time.strftime('%y%m%d-%H%M', t)

# read excel
#df = pd.read_excel('S://TANF Reports//Reports Analytics//202201//202201-t_worc_families-20220422_1159.xlsx')
df = pd.read_excel('S://TANF Reports//!TANF Federal Reports//202203//WORC//Version2//202203-t_worc_families-20220504_1049.xlsx')

# assign path and reporitng month
drive = 'S://TANF Reports//Reports Analytics//'
reporting_month = str(df.loc[0,'reporting_month'])

# Filter with column names ending with amt, amount, nbr_month
df_amt = df.filter(regex = 'amt$|amount$|amount$|nbr_month$|nbr_months', axis='columns')

# Describe the filtered dataframe
df_des = df_amt.describe()

# Write the describe to excel
writer = pd.ExcelWriter(drive + reporting_month + '//' + reporting_month + '_' + 'report' + '-' + timestamp + '.xlsx')
#df_des.to_excel(writer, index = False)
df_des.to_excel(writer, sheet_name='family_stat')
writer.save()

In [2]:
#df.columns

In [3]:
df.shape

(1229, 56)

In [4]:
df['subsid_child_care'].value_counts()

No subsidized child care received                                                                                                                 1163
Yes, receives child care funded entirely or in part with Federal funds (e.g., receives TANF, CCDF, SSBG, or other federally funded child care)      66
Name: subsid_child_care, dtype: int64

In [5]:
df['subsid_child_care_amt'].sum()

55406

In [6]:
df['tanf child care_children_covered'].value_counts()

0    1229
Name: tanf child care_children_covered, dtype: int64

In [7]:
df['tanf child care_amount'].sum()

0

In [8]:
cat = df.drop(df_amt, axis='columns')
#cat1 = cat.drop((cat.loc[:,'reporting_month':'stratum']),axis='columns')
cat1 = cat.drop(['id','reporting_month','case_number','county_fips_code','stratum','disposition','worker_id',
                 'case_manager','area','created_by','updated_by','created_at','updated_at','ans_county',
                 'local_office','waiver_grps'], axis='columns')
cat2 = cat1.drop(cat1.filter(regex = '^reason|^other'), axis='columns')

In [9]:
reason_cat = cat1.filter(regex = '^reason', axis='columns')

for c in reason_cat.columns:
    print(reason_cat[c].value_counts())
    print('---')

No     1114
Yes     115
Name: reason for amount of reduction_work requirements sanction, dtype: int64
---
No    1229
Name: reason for amount of reduction_Family Sanction for an Adult with No High School Diploma or Equivalent, dtype: int64
---
No    1229
Name: reason for amount of reduction_Sanction for Teen Parent not Attending School, dtype: int64
---
No     895
Yes    334
Name: reason for amount of reduction_Non-Cooperation with Child Support, dtype: int64
---
No    1229
Name: reason for amount of reduction_Failure to Comply with an Individual Responsibility Plan, dtype: int64
---
No     1208
Yes      21
Name: reason for amount of reduction_Other Sanction, dtype: int64
---
0    1229
Name: reason for amount of reduction_Recoupment of Prior Overpayment, dtype: int64
---

In [10]:
#((df.filter(regex = '^reason'))).head(20)

In [11]:
for c in cat2.columns:
    print((cat2[c].value_counts().to_frame('count').rename_axis(c)).reset_index())
    print('---')

   category  count
0       Tea   1194
1  WorkPays     35
---
     zip_code  count
0       71854     44
1       72209     36
2       72301     35
3       72401     33
4       72335     31
..        ...    ...
261     72714      1
262     72734      1
263     72583      1
264     72065      1
265     72041      1

[266 rows x 2 columns]
---
                                      funding_stream  count
0  Funded, in whole or in part, with Federal TANF...   1229
---
                       new_applicant  count
0     Not newly-approved application   1180
1  Yes, a newly-approved application     49
---
   family_size  count
0            2    621
1            3    359
2            4    161
3            5     57
4            6     20
5            7      8
6            9      1
7            8      1
8           10      1
---
                                         family_type  count
0            Family with no work-eligible individual    776
1  Family included only in overall work participa...    427
2  Two-Parent Family included in both the overall...     26
---
       subsid_housing  count
0  No housing subsidy   1089
1      Public housing    140
---
                           medical_assist  count
0   Yes, enrolled in Medicaid and/or CHIP   1039
1     Does not receive Medical Assistance    190
---
                           food_stamps  count
0  Yes, receives food stamp assistance    760
1          Does not receive food stamp    469
---
                                   subsid_child_care  count
0                  No subsidized child care received   1163
1  Yes, receives child care funded entirely or in...     66
---
   tanf child care_children_covered  count
0                                 0   1229
---
  Other, Non-sanction  count
0                  No   1229
---
                                   exempt_time_limit  count
0   Yes, family is exempt from accrual of months ...    776
1      Family is not exempt from Federal time limit.    452
2  Yes, family is exempt from termination of assi...      1
---
                 new_child_only_fam  count
0   No, not a new child-only family   1221
1      Yes, a new child-only family      8
---
             county  count
0         Sebastian     60
1   Pulaski - South     59
2        Washington     58
3            Miller     51
4          Phillips     48
..              ...    ...
73          Calhoun      1
74          Carroll      1
75           Dallas      1
76            Izard      1
77         Franklin      1

[78 rows x 2 columns]
---

In [12]:
worc_fam = df
fam_type = worc_fam.groupby(['category','family_type']).agg({'case_number' : 'nunique'}).rename({'case_number': 'case_count'}, axis='columns')#.reset_index()
fam_type

                                                             case_count
category family_type
Tea      Family included only in overall work participat...         394
         Family with no work-eligible individual                    776
         Two-Parent Family included in both the overall ...          24
WorkPays Family included only in overall work participat...          33
         Two-Parent Family included in both the overall ...           2