In [1]:
import pandas as pd
import numpy as np
import time
import os

t = time.localtime()
timestamp = time.strftime('%y%m%d-%H%M', t)

# read excel
df = pd.read_excel('H://Current_Working_Folder//Reports Analytics//202101//202101-t_worc_families-20210513_1623.xlsx')

# assign path and reporitng month
drive = 'H://Current_Working_Folder//Reports Analytics//'
reporting_month = str(df.loc[0,'reporting_month'])

# Filter with column names ending with amt, amount, nbr_month
df_amt = df.filter(regex = 'amt$|amount$|amount$|nbr_month$|nbr_months', axis='columns')

# Describe the filtered dataframe
df_des = df_amt.describe()

# Write the describe to excel
writer = pd.ExcelWriter(drive + reporting_month + '//' + reporting_month + '_' + 'report' + '-' + timestamp + '.xlsx')
#df_des.to_excel(writer, index = False)
df_des.to_excel(writer, sheet_name='family_stat')
writer.save()

In [2]:
#df.columns

In [3]:
df.shape

(1809, 56)

In [4]:
df['subsid_child_care'].value_counts()

No subsidized child care received    1809
Name: subsid_child_care, dtype: int64

In [5]:
df['subsid_child_care_amt'].sum()

0

In [6]:
df['tanf child care_children_covered'].value_counts()

0    1809
Name: tanf child care_children_covered, dtype: int64

In [7]:
df['tanf child care_amount'].sum()

0

In [8]:
cat = df.drop(df_amt, axis='columns')
#cat1 = cat.drop((cat.loc[:,'reporting_month':'stratum']),axis='columns')
cat1 = cat.drop(['id','reporting_month','case_number','county_fips_code','stratum','disposition','worker_id',
                 'case_manager','area','created_by','updated_by','created_at','updated_at','ans_county',
                 'local_office','waiver_grps'], axis='columns')
cat2 = cat1.drop(cat1.filter(regex = '^reason|^other'), axis='columns')

In [9]:
reason_cat = cat1.filter(regex = '^reason', axis='columns')

for c in reason_cat.columns:
    print(reason_cat[c].value_counts())
    print('---')

No     1568
Yes     241
Name: reason for amount of reduction_work requirements sanction, dtype: int64
---
No    1809
Name: reason for amount of reduction_Family Sanction for an Adult with No High School Diploma or Equivalent, dtype: int64
---
No    1809
Name: reason for amount of reduction_Sanction for Teen Parent not Attending School, dtype: int64
---
No     1729
Yes      80
Name: reason for amount of reduction_Non-Cooperation with Child Support, dtype: int64
---
No     1806
Yes       3
Name: reason for amount of reduction_Failure to Comply with an Individual Responsibility Plan, dtype: int64
---
No     1805
Yes       4
Name: reason for amount of reduction_Other Sanction, dtype: int64
---
0    1809
Name: reason for amount of reduction_Recoupment of Prior Overpayment, dtype: int64
---

In [10]:
#((df.filter(regex = '^reason'))).head(20)

In [11]:
for c in cat2.columns:
    print((cat2[c].value_counts().to_frame('count').rename_axis(c)).reset_index())
    print('---')

   category  count
0       Tea   1698
1  WorkPays    111
---
     zip_code  count
0       71854     68
1       72301     53
2       72209     49
3       72401     40
4       72390     36
5       72204     33
6       72114     33
7       71601     31
8       72335     31
9       72315     31
10      72764     27
11      72076     27
12      72904     25
13      71603     24
14      72956     24
15      72143     22
16      72117     22
17      72901     22
18      72450     21
19      72112     21
20      72360     20
21      72601     19
22      72206     18
23      72501     18
24      71901     18
25      72370     17
26      71671     17
27      72701     16
28      72342     16
29      72830     15
..        ...    ...
295     72651      1
296     72654      1
297     72705      1
298     72107      1
299     72645      1
300     72106      1
301     72722      1
302     72727      1
303     72730      1
304     72411      1
305     72080      1
306     72125      1
307     72127      1
308     72576      1
309     72626      1
310     72584      1
311     72602      1
312     72180      1
313     72616      1
314     72623      1
315     72168      1
316     72153      1
317     72130      1
318     72633      1
319     72145      1
320     72638      1
321     72137      1
322     72135      1
323     72642      1
324     71675      1

[325 rows x 2 columns]
---
                                      funding_stream  count
0  Funded, in whole or in part, with Federal TANF...   1809
---
                    new_applicant  count
0  Not newly-approved application   1809
---
   family_size  count
0            2    691
1            1    476
2            3    373
3            4    180
4            5     65
5            6     17
6            8      3
7            7      3
8           11      1
---
                                         family_type  count
0            Family with no work-eligible individual    910
1  Family included only in overall work participa...    852
2  Two-Parent Family included in both the overall...     47
---
       subsid_housing  count
0  No housing subsidy   1808
1      Public housing      1
---
                           medical_assist  count
0     Does not receive Medical Assistance   1149
1   Yes, enrolled in Medicaid and/or CHIP    660
---
                           food_stamps  count
0  Yes, receives food stamp assistance   1226
1          Does not receive food stamp    583
---
                   subsid_child_care  count
0  No subsidized child care received   1809
---
   tanf child care_children_covered  count
0                                 0   1809
---
  Other, Non-sanction  count
0                  No   1809
---
                                   exempt_time_limit  count
0   Yes, family is exempt from accrual of months ...    910
1      Family is not exempt from Federal time limit.    897
2  Yes, family is exempt from termination of assi...      2
---
                 new_child_only_fam  count
0   No, not a new child-only family   1809
---
                       county  count
0                  Washington     91
1             Pulaski - South     84
2                  Crittenden     82
3                      Miller     78
4             Pulaski - North     77
5                   Sebastian     76
6                   Jefferson     73
7                      Benton     70
8                   Craighead     67
9                    Phillips     63
10        Pulaski - Southwest     59
11  Mississippi - Blytheville     55
12                      White     38
13                   Crawford     38
14                    Garland     37
15     Pulaski - Jacksonville     35
16                 St Francis     35
17               Independence     32
18                   Poinsett     30
19                   Faulkner     30
20                     Greene     27
21                     Baxter     24
22                      Desha     23
23                    Jackson     23
24                    Johnson     22
25                     Ashley     22
26                      Boone     22
27                        Lee     21
28                   Columbia     21
29                   Ouachita     21
..                        ...    ...
49                     Howard     10
50                   Lawrence      9
51                    Lincoln      9
52                    Madison      9
53                      Izard      9
54         Arkansas-Stuttgart      8
55                 Hot Spring      8
56              Clay - Piggot      8
57                     Nevada      7
58                      Scott      7
59                      Perry      7
60               Little River      7
61                     Newton      6
62                  Van Buren      6
63                      Stone      6
64                      Grant      6
65                  Lafayette      5
66                   Randolph      5
67                     Dallas      4
68                     Searcy      4
69                     Fulton      3
70                    Prairie      3
71                 Montgomery      3
72                    Carroll      3
73                  Cleveland      3
74                       Yell      2
75                   Franklin      2
76                       Pike      2
77                    Calhoun      1
78             Pulaski - East      1

[79 rows x 2 columns]
---

In [12]:
worc_fam = df
fam_type = worc_fam.groupby(['category','family_type']).agg({'case_number' : 'nunique'}).rename({'case_number': 'case_count'}, axis='columns')#.reset_index()
fam_type

                                                             case_count
category family_type
Tea      Family included only in overall work participat...         749
         Family with no work-eligible individual                    910
         Two-Parent Family included in both the overall ...          39
WorkPays Family included only in overall work participat...         103
         Two-Parent Family included in both the overall ...           8