In [1]:
import pandas as pd
import numpy as np
import os

In [2]:
children = adult = pd.read_excel('H://Current_Working_Folder//Reports Analytics//202101//202101-t_worc_children-20210513_1624.xlsx')

In [3]:
children['reporting_month'] = pd.to_datetime(children['reporting_month'].
                                             apply(lambda x: f"{x}01").
                                             astype(str), infer_datetime_format=True)

children['dob'] = pd.to_datetime(children['dob'].astype(str), infer_datetime_format=True)

children['age'] = np.floor((children['reporting_month'] - children['dob'])/np.timedelta64(1,'Y'))

In [4]:
children.shape

(3168, 26)

In [5]:
children['parent_minor_child'].value_counts()

Not parent with minor child in the family    3168
Name: parent_minor_child, dtype: int64

In [6]:
children.groupby(children['age']).agg({'parent_minor_child':'value_counts'}).rename({'parent_minor_child':'count'}, axis='columns').T

age,0.0,1.0,2.0,3.0,4.0,5.0,6.0,7.0,8.0,9.0,10.0,11.0,12.0,13.0,14.0,15.0,16.0,17.0
parent_minor_child,Not parent with minor child in the family,Not parent with minor child in the family,Not parent with minor child in the family,Not parent with minor child in the family,Not parent with minor child in the family,Not parent with minor child in the family,Not parent with minor child in the family,Not parent with minor child in the family,Not parent with minor child in the family,Not parent with minor child in the family,Not parent with minor child in the family,Not parent with minor child in the family,Not parent with minor child in the family,Not parent with minor child in the family,Not parent with minor child in the family,Not parent with minor child in the family,Not parent with minor child in the family,Not parent with minor child in the family
count,151,235,260,234,217,199,181,168,180,153,153,174,177,180,159,133,119,95

In [7]:
k = children.loc[children['parent_minor_child']=="Yes, a parent with a minor child in the family, but not used in two-parent participation rate",('case_number','age','parent_minor_child')]
k = pd.DataFrame(k)

l = children.loc[children['parent_minor_child']=="Yes, a parent with a minor child in the family and used in two-parent participation rate",('case_number','age','parent_minor_child')]
l = pd.DataFrame(l)

# Append dataframes one below the other using concat
df1 = pd.concat([k,l],ignore_index=True)
df1

Empty DataFrame
Columns: [case_number, age, parent_minor_child]
Index: []

In [8]:
cn = df1['case_number'].nunique()
print(cn) #number of unique cases
print(df1.shape) #total number of parent with minor child instances

0
(0, 3)

In [9]:
children.groupby(['family_affiliation','age']).agg({'parent_minor_child':'value_counts'},axis='columns').rename({'parent_minor_child':'count'},axis='columns')#.reset_index()

                                                                                                   count
family_affiliation                                 age  parent_minor_child
Member of the eligible family receiving assistance 0.0  Not parent with minor child in the family    138
                                                   1.0  Not parent with minor child in the family    216
                                                   2.0  Not parent with minor child in the family    241
                                                   3.0  Not parent with minor child in the family    225
                                                   4.0  Not parent with minor child in the family    207
                                                   5.0  Not parent with minor child in the family    185
                                                   6.0  Not parent with minor child in the family    181
                                                   7.0  Not parent with minor child in the family    168
                                                   8.0  Not parent with minor child in the family    180
                                                   9.0  Not parent with minor child in the family    153
                                                   10.0 Not parent with minor child in the family    153
                                                   11.0 Not parent with minor child in the family    174
                                                   12.0 Not parent with minor child in the family    177
                                                   13.0 Not parent with minor child in the family    180
                                                   14.0 Not parent with minor child in the family    159
                                                   15.0 Not parent with minor child in the family    133
                                                   16.0 Not parent with minor child in the family    119
                                                   17.0 Not parent with minor child in the family     95
Person whose income or resources are considered... 0.0  Not parent with minor child in the family     13
                                                   1.0  Not parent with minor child in the family     19
                                                   2.0  Not parent with minor child in the family     19
                                                   3.0  Not parent with minor child in the family      9
                                                   4.0  Not parent with minor child in the family     10
                                                   5.0  Not parent with minor child in the family     14

In [10]:
children['age'].describe()

count    3362.000000
mean        7.567222
std         5.048686
min        -1.000000
25%         3.000000
50%         7.000000
75%        12.000000
max        18.000000
Name: age, dtype: float64

In [11]:
children.shape

(3362, 26)

In [10]:

os.chdir('H://Current_Working_Folder//Reports Analytics//202101')
import openpyxl

file_name = 'ParentWithMinorChild.xlsx'
writer = pd.ExcelWriter(file_name, engine = 'openpyxl')

if os.path.exists(file_name):
    book = openpyxl.load_workbook(file_name)
    writer.book = book
    
df1.to_excel(writer, sheet_name = '202101', index=False)
writer.save()
writer.close()

In [18]:
children.columns

Index(['id', 'reporting_month', 'case_number', 'family_affiliation', 'dob',
       'ssn', 'hispanic or latino', 'american indian or alaska native',
       'asian', 'black or african american',
       'native hawaiian or other pacific islander', 'white', 'gender',
       'Receives Benefits Based on Federal Disability Status Under Non-Social Security Act Programs',
       'Receives Supplemental Security Income Under Title XVI-SSI of the SocialSecurity Act:',
       'relation_to_hoh', 'parent_minor_child', 'education_level',
       'citizenship', 'Amount of unearned inocme_SSI',
       'Amount of unearned income_Other unearned income', 'created_by',
       'updated_by', 'created_at', 'updated_at', 'age'],
      dtype='object')