In [1]:
import pandas as pd
import numpy as np
import time
import os

t = time.localtime()
timestamp = time.strftime('%y%m%d-%H%M', t)

# read excel
df = pd.read_excel('H://Current_Working_Folder//Reports Analytics//202004//202004-t_worc_families-20200717_1408.xlsx')

# assign path and reporitng month
drive = 'H://Current_Working_Folder//Reports Analytics//'
reporting_month = str(df.loc[0,'reporting_month'])

# Filter with column names ending with amt, amount, nbr_month
df_amt = df.filter(regex = 'amt$|amount$|amount$|nbr_month$|nbr_months', axis='columns')

# Describe the filtered dataframe
df_des = df_amt.describe()

# Write the describe to excel
writer = pd.ExcelWriter(drive + reporting_month + '//' + reporting_month + '_' + 'report' + '-' + timestamp + '.xlsx')
#df_des.to_excel(writer, index = False)
df_des.to_excel(writer, sheet_name='family_stat')
writer.save()

In [2]:
#df.columns

In [3]:
df.shape

(2250, 56)

In [4]:
df['subsid_child_care'].value_counts()

No subsidized child care received                                                                                                                 2241
Yes, receives child care funded entirely or in part with Federal funds (e.g., receives TANF, CCDF, SSBG, or other federally funded child care)       9
Name: subsid_child_care, dtype: int64

In [5]:
df['subsid_child_care_amt'].sum()

4086

In [6]:
df['tanf child care_children_covered'].value_counts()

0    2250
Name: tanf child care_children_covered, dtype: int64

In [7]:
df['tanf child care_amount'].sum()

0

In [8]:
cat = df.drop(df_amt, axis='columns')
#cat1 = cat.drop((cat.loc[:,'reporting_month':'stratum']),axis='columns')
cat1 = cat.drop(['id','reporting_month','case_number','county_fips_code','stratum','disposition','worker_id',
                 'case_manager','area','created_by','updated_by','created_at','updated_at','ans_county',
                 'local_office','waiver_grps'], axis='columns')
cat2 = cat1.drop(cat1.filter(regex = '^reason|^other'), axis='columns')

In [9]:
reason_cat = cat1.filter(regex = '^reason', axis='columns')

for c in reason_cat.columns:
    print(reason_cat[c].value_counts())
    print('---')

No     2118
Yes     132
Name: reason for amount of reduction_work requirements sanction, dtype: int64
---
No    2250
Name: reason for amount of reduction_Family Sanction for an Adult with No High School Diploma or Equivalent, dtype: int64
---
No    2250
Name: reason for amount of reduction_Sanction for Teen Parent not Attending School, dtype: int64
---
No     2200
Yes      50
Name: reason for amount of reduction_Non-Cooperation with Child Support, dtype: int64
---
No    2250
Name: reason for amount of reduction_Failure to Comply with an Individual Responsibility Plan, dtype: int64
---
No     2249
Yes       1
Name: reason for amount of reduction_Other Sanction, dtype: int64
---
0    2250
Name: reason for amount of reduction_Recoupment of Prior Overpayment, dtype: int64
---

In [10]:
#((df.filter(regex = '^reason'))).head(20)

In [11]:
for c in cat2.columns:
    print((cat2[c].value_counts().to_frame('count').rename_axis(c)).reset_index())
    print('---')

   category  count
0       Tea   2017
1  WorkPays    233
---
     zip_code  count
0       71854     77
1       72301     70
2       72209     61
3       72401     54
4       72390     44
5       72114     43
6       72335     43
7       72204     39
8       72076     36
9       72956     36
10      72901     35
11      72764     32
12      71601     32
13      72143     31
14      72206     31
15      72450     29
16      72360     29
17      71603     28
18      72117     28
19      72904     27
20      72315     27
21      71901     25
22      71701     25
23      72701     24
24      72601     23
25      72342     23
26      71953     23
27      72112     22
28      71730     21
29      72032     20
..        ...    ...
319     72520      1
320     72542      1
321     72411      1
322     71826      1
323     72383      1
324     72554      1
325     72367      1
326     72566      1
327     72568      1
328     72333      1
329     72447      1
330     72440      1
331     72350      1
332     72469      1
333     72641      1
334     72639      1
335     72633      1
336     72611      1
337     72583      1
338     72579      1
339     72567      1
340     72533      1
341     72384      1
342     72523      1
343     72519      1
344     72513      1
345     72503      1
346     72436      1
347     72471      1
348     71675      1

[349 rows x 2 columns]
---
                                      funding_stream  count
0  Funded, in whole or in part, with Federal TANF...   2250
---
                       new_applicant  count
0     Not newly-approved application   2214
1  Yes, a newly-approved application     36
---
   family_size  count
0            2    873
1            1    533
2            3    493
3            4    229
4            5     89
5            6     24
6            7      7
7            9      1
8            8      1
---
                                         family_type  count
0  Family included only in overall work participa...   1152
1            Family with no work-eligible individual   1026
2  Two-Parent Family included in both the overall...     68
3                                          Not found      4
---
       subsid_housing  count
0  No housing subsidy   2250
---
                           medical_assist  count
0     Does not receive Medical Assistance   1517
1   Yes, enrolled in Medicaid and/or CHIP    733
---
                           food_stamps  count
0  Yes, receives food stamp assistance   1671
1          Does not receive food stamp    579
---
                                   subsid_child_care  count
0                  No subsidized child care received   2241
1  Yes, receives child care funded entirely or in...      9
---
   tanf child care_children_covered  count
0                                 0   2250
---
  Other, Non-sanction  count
0                  No   2250
---
                                   exempt_time_limit  count
0      Family is not exempt from Federal time limit.   1235
1   Yes, family is exempt from accrual of months ...   1015
---
                 new_child_only_fam  count
0   No, not a new child-only family   2228
1      Yes, a new child-only family     22
---
                       county  count
0                  Washington    112
1             Pulaski - North    111
2                  Crittenden    104
3                   Sebastian     96
4                      Miller     86
5                   Craighead     84
6         Pulaski - Southwest     82
7                   Jefferson     81
8                    Phillips     80
9             Pulaski - South     77
10                     Benton     65
11                      White     58
12                 St Francis     57
13     Pulaski - Jacksonville     55
14                    Garland     51
15                   Crawford     49
16                   Faulkner     47
17  Mississippi - Blytheville     34
18                   Ouachita     33
19                     Greene     33
20                       Polk     33
21                     Ashley     31
22                        Lee     30
23                      Boone     30
24                   Columbia     27
25                   Poinsett     27
26             Pulaski - East     26
27                       Pope     26
28                     Conway     26
29                    Jackson     25
..                        ...    ...
52                     Nevada     11
53                     Howard     11
54         Logan - Booneville     10
55                      Grant     10
56                      Scott      9
57                      Clark      9
58                      Izard      9
59                     Dallas      8
60                    Madison      8
61            Monroe-Brinkley      8
62                  Lafayette      8
63                  Cleveland      8
64                      Perry      7
65                   Woodruff      7
66                  Van Buren      7
67                 Hot Spring      7
68                      Stone      7
69              Logan - Paris      6
70         Arkansas-Stuttgart      6
71                     Searcy      6
72                     Newton      6
73                   Randolph      6
74                    Prairie      4
75            Arkansas-Dewitt      4
76                   Franklin      4
77                 Montgomery      4
78                       Yell      2
79           Monroe-Clarendon      2
80                    Carroll      1
81                       Pike      1

[82 rows x 2 columns]
---

In [12]:
worc_fam = df
fam_type = worc_fam.groupby(['category','family_type']).agg({'case_number' : 'nunique'}).rename({'case_number': 'case_count'}, axis='columns')#.reset_index()
fam_type

                                                             case_count
category family_type
Tea      Family included only in overall work participat...         934
         Family with no work-eligible individual                   1026
         Not found                                                    4
         Two-Parent Family included in both the overall ...          53
WorkPays Family included only in overall work participat...         218
         Two-Parent Family included in both the overall ...          15