In [1]:
import pandas as pd
import numpy as np
import time
import os

t = time.localtime()
timestamp = time.strftime('%y%m%d-%H%M', t)

# read excel
df = pd.read_excel('H://Current_Working_Folder//Reports Analytics//202006//202006-t_worc_families-20200811_1122.xlsx')

# assign path and reporitng month
drive = 'H://Current_Working_Folder//Reports Analytics//'
reporting_month = str(df.loc[0,'reporting_month'])

# Filter with column names ending with amt, amount, nbr_month
df_amt = df.filter(regex = 'amt$|amount$|amount$|nbr_month$|nbr_months', axis='columns')

# Describe the filtered dataframe
df_des = df_amt.describe()

# Write the describe to excel
writer = pd.ExcelWriter(drive + reporting_month + '//' + reporting_month + '_' + 'report' + '-' + timestamp + '.xlsx')
#df_des.to_excel(writer, index = False)
df_des.to_excel(writer, sheet_name='family_stat')
writer.save()

In [2]:
#df.columns

In [3]:
df.shape

(2337, 56)

In [4]:
df['subsid_child_care'].value_counts()

No subsidized child care received    2337
Name: subsid_child_care, dtype: int64

In [5]:
df['subsid_child_care_amt'].sum()

0

In [6]:
df['tanf child care_children_covered'].value_counts()

0    2337
Name: tanf child care_children_covered, dtype: int64

In [7]:
df['tanf child care_amount'].sum()

0

In [8]:
cat = df.drop(df_amt, axis='columns')
#cat1 = cat.drop((cat.loc[:,'reporting_month':'stratum']),axis='columns')
cat1 = cat.drop(['id','reporting_month','case_number','county_fips_code','stratum','disposition','worker_id',
                 'case_manager','area','created_by','updated_by','created_at','updated_at','ans_county',
                 'local_office','waiver_grps'], axis='columns')
cat2 = cat1.drop(cat1.filter(regex = '^reason|^other'), axis='columns')

In [9]:
reason_cat = cat1.filter(regex = '^reason', axis='columns')

for c in reason_cat.columns:
    print(reason_cat[c].value_counts())
    print('---')

No     2330
Yes       7
Name: reason for amount of reduction_work requirements sanction, dtype: int64
---
No    2337
Name: reason for amount of reduction_Family Sanction for an Adult with No High School Diploma or Equivalent, dtype: int64
---
No    2337
Name: reason for amount of reduction_Sanction for Teen Parent not Attending School, dtype: int64
---
No     2318
Yes      19
Name: reason for amount of reduction_Non-Cooperation with Child Support, dtype: int64
---
No     2336
Yes       1
Name: reason for amount of reduction_Failure to Comply with an Individual Responsibility Plan, dtype: int64
---
No     2336
Yes       1
Name: reason for amount of reduction_Other Sanction, dtype: int64
---
0    2337
Name: reason for amount of reduction_Recoupment of Prior Overpayment, dtype: int64
---

In [10]:
#((df.filter(regex = '^reason'))).head(20)

In [11]:
for c in cat2.columns:
    print((cat2[c].value_counts().to_frame('count').rename_axis(c)).reset_index())
    print('---')

   category  count
0       Tea   2133
1  WorkPays    204
---
     zip_code  count
0       71854     80
1       72209     73
2       72301     67
3       72401     59
4       72114     46
5       72390     41
6       72335     41
7       72204     40
8       72076     36
9       72450     36
10      72956     35
11      72315     33
12      72764     33
13      71601     32
14      72901     31
15      72117     31
16      72206     31
17      72143     29
18      72904     29
19      71603     28
20      72360     27
21      72701     26
22      71701     25
23      72118     25
24      71901     24
25      72342     23
26      71753     23
27      72112     23
28      72032     22
29      71635     21
..        ...    ...
331     72469      1
332     72459      1
333     72718      1
334     72447      1
335     72433      1
336     72427      1
337     72421      1
338     72654      1
339     72126      1
340     72845      1
341     72735      1
342     72833      1
343     72821      1
344     78962      1
345     72811      1
346     72566      1
347     72568      1
348     72749      1
349     89121      1
350     72727      1
351     72639      1
352     72602      1
353     72717      1
354     72715      1
355     99336      1
356     72638      1
357     72683      1
358     72648      1
359     72651      1
360     71675      1

[361 rows x 2 columns]
---
                                      funding_stream  count
0  Funded, in whole or in part, with Federal TANF...   2337
---
                       new_applicant  count
0     Not newly-approved application   2311
1  Yes, a newly-approved application     26
---
   family_size  count
0            2    906
1            1    536
2            3    519
3            4    245
4            5     97
5            6     25
6            7      6
7           11      1
8            9      1
9            8      1
---
                                         family_type  count
0  Family included only in overall work participa...   1230
1            Family with no work-eligible individual   1025
2  Two-Parent Family included in both the overall...     80
3                                          Not found      2
---
       subsid_housing  count
0  No housing subsidy   2337
---
                           medical_assist  count
0     Does not receive Medical Assistance   1587
1   Yes, enrolled in Medicaid and/or CHIP    750
---
                           food_stamps  count
0  Yes, receives food stamp assistance   1791
1          Does not receive food stamp    546
---
                   subsid_child_care  count
0  No subsidized child care received   2337
---
   tanf child care_children_covered  count
0                                 0   2337
---
  Other, Non-sanction  count
0                  No   2337
---
                                   exempt_time_limit  count
0      Family is not exempt from Federal time limit.   1323
1   Yes, family is exempt from accrual of months ...   1014
---
                 new_child_only_fam  count
0   No, not a new child-only family   2324
1      Yes, a new child-only family     13
---
                       county  count
0                  Washington    123
1             Pulaski - North    117
2                  Crittenden    104
3         Pulaski - Southwest    101
4                   Sebastian     99
5                   Craighead     89
6                      Miller     87
7                   Jefferson     84
8             Pulaski - South     83
9                    Phillips     82
10                     Benton     74
11                 St Francis     56
12                      White     53
13                    Garland     53
14                   Faulkner     50
15     Pulaski - Jacksonville     50
16                   Crawford     49
17  Mississippi - Blytheville     41
18                     Greene     39
19                     Ashley     34
20                   Ouachita     33
21                        Lee     31
22                       Polk     30
23                   Columbia     30
24                   Poinsett     29
25                      Boone     28
26             Pulaski - East     27
27                       Pope     27
28                    Jackson     26
29                     Baxter     26
..                        ...    ...
52                      Grant     11
53                     Nevada     10
54                      Izard      9
55                      Clark      9
56            Monroe-Brinkley      9
57         Logan - Booneville      9
58                    Madison      8
59                 Hot Spring      8
60                   Woodruff      8
61                  Lafayette      8
62              Logan - Paris      7
63                  Van Buren      7
64                      Scott      7
65                     Fulton      7
66                     Newton      7
67                      Stone      7
68                  Cleveland      6
69                      Perry      6
70                     Dallas      6
71                    Prairie      5
72         Arkansas-Stuttgart      5
73                 Montgomery      5
74                     Searcy      5
75                   Randolph      5
76                   Franklin      4
77            Arkansas-Dewitt      4
78                       Yell      2
79           Monroe-Clarendon      2
80                       Pike      1
81                    Carroll      1

[82 rows x 2 columns]
---

In [12]:
worc_fam = df
fam_type = worc_fam.groupby(['category','family_type']).agg({'case_number' : 'nunique'}).rename({'case_number': 'case_count'}, axis='columns')#.reset_index()
fam_type

                                                             case_count
category family_type
Tea      Family included only in overall work participat...        1043
         Family with no work-eligible individual                   1025
         Not found                                                    2
         Two-Parent Family included in both the overall ...          63
WorkPays Family included only in overall work participat...         187
         Two-Parent Family included in both the overall ...          17