In [1]:
import pandas as pd
import numpy as np
import time
import os

t = time.localtime()
timestamp = time.strftime('%y%m%d-%H%M', t)

# read excel
df = pd.read_excel('H://Current_Working_Folder//Reports Analytics//202011//202011-t_worc_families-20210212_1546.xlsx')

# assign path and reporitng month
drive = 'H://Current_Working_Folder//Reports Analytics//'
reporting_month = str(df.loc[0,'reporting_month'])

# Filter with column names ending with amt, amount, nbr_month
df_amt = df.filter(regex = 'amt$|amount$|amount$|nbr_month$|nbr_months', axis='columns')

# Describe the filtered dataframe
df_des = df_amt.describe()

# Write the describe to excel
writer = pd.ExcelWriter(drive + reporting_month + '//' + reporting_month + '_' + 'report' + '-' + timestamp + '.xlsx')
#df_des.to_excel(writer, index = False)
df_des.to_excel(writer, sheet_name='family_stat')
writer.save()

In [2]:
#df.columns

In [3]:
df.shape

(1953, 56)

In [4]:
df['subsid_child_care'].value_counts()

No subsidized child care received    1953
Name: subsid_child_care, dtype: int64

In [5]:
df['subsid_child_care_amt'].sum()

0

In [6]:
df['tanf child care_children_covered'].value_counts()

0    1953
Name: tanf child care_children_covered, dtype: int64

In [7]:
df['tanf child care_amount'].sum()

0

In [8]:
cat = df.drop(df_amt, axis='columns')
#cat1 = cat.drop((cat.loc[:,'reporting_month':'stratum']),axis='columns')
cat1 = cat.drop(['id','reporting_month','case_number','county_fips_code','stratum','disposition','worker_id',
                 'case_manager','area','created_by','updated_by','created_at','updated_at','ans_county',
                 'local_office','waiver_grps'], axis='columns')
cat2 = cat1.drop(cat1.filter(regex = '^reason|^other'), axis='columns')

In [9]:
reason_cat = cat1.filter(regex = '^reason', axis='columns')

for c in reason_cat.columns:
    print(reason_cat[c].value_counts())
    print('---')

No     1717
Yes     236
Name: reason for amount of reduction_work requirements sanction, dtype: int64
---
No    1953
Name: reason for amount of reduction_Family Sanction for an Adult with No High School Diploma or Equivalent, dtype: int64
---
No    1953
Name: reason for amount of reduction_Sanction for Teen Parent not Attending School, dtype: int64
---
No     1868
Yes      85
Name: reason for amount of reduction_Non-Cooperation with Child Support, dtype: int64
---
No     1950
Yes       3
Name: reason for amount of reduction_Failure to Comply with an Individual Responsibility Plan, dtype: int64
---
No     1950
Yes       3
Name: reason for amount of reduction_Other Sanction, dtype: int64
---
0    1953
Name: reason for amount of reduction_Recoupment of Prior Overpayment, dtype: int64
---

In [10]:
#((df.filter(regex = '^reason'))).head(20)

In [11]:
for c in cat2.columns:
    print((cat2[c].value_counts().to_frame('count').rename_axis(c)).reset_index())
    print('---')

   category  count
0       Tea   1814
1  WorkPays    139
---
     zip_code  count
0       71854     66
1       72301     62
2       72209     51
3       72401     43
4       72114     38
5       72335     38
6       72390     37
7       72204     31
8       72901     31
9       72764     30
10      72076     30
11      72315     29
12      71601     28
13      72904     27
14      72956     27
15      72450     24
16      72701     24
17      71603     24
18      72117     23
19      72601     23
20      72360     23
21      72206     22
22      72112     21
23      72143     20
24      72342     19
25      72501     19
26      71701     18
27      72118     18
28      72758     18
29      72370     18
..        ...    ...
310     72153      1
311     72145      1
312     72137      1
313     72394      1
314     72416      1
315     72576      1
316     72520      1
317     72571      1
318     72568      1
319     72567      1
320     72566      1
321     72550      1
322     72538      1
323     72537      1
324     72533      1
325     72530      1
326     72523      1
327     72519      1
328     72429      1
329     72513      1
330     72503      1
331     72479      1
332     72471      1
333     72469      1
334     72466      1
335     72447      1
336     72440      1
337     72436      1
338     72434      1
339     72411      1

[340 rows x 2 columns]
---
                                      funding_stream  count
0  Funded, in whole or in part, with Federal TANF...   1953
---
                       new_applicant  count
0     Not newly-approved application   1941
1  Yes, a newly-approved application     12
---
   family_size  count
0            2    757
1            1    489
2            3    412
3            4    189
4            5     77
5            6     20
6            7      5
7            8      2
8           11      1
9            9      1
---
                                         family_type  count
0  Family included only in overall work participa...    950
1            Family with no work-eligible individual    949
2  Two-Parent Family included in both the overall...     54
---
       subsid_housing  count
0  No housing subsidy   1952
1      Public housing      1
---
                           medical_assist  count
0     Does not receive Medical Assistance   1277
1   Yes, enrolled in Medicaid and/or CHIP    676
---
                           food_stamps  count
0  Yes, receives food stamp assistance   1421
1          Does not receive food stamp    532
---
                   subsid_child_care  count
0  No subsidized child care received   1953
---
   tanf child care_children_covered  count
0                                 0   1953
---
  Other, Non-sanction  count
0                  No   1953
---
                                   exempt_time_limit  count
0      Family is not exempt from Federal time limit.   1015
1   Yes, family is exempt from accrual of months ...    938
---
                 new_child_only_fam  count
0   No, not a new child-only family   1942
1      Yes, a new child-only family     11
---
                       county  count
0                  Washington    110
1             Pulaski - North     98
2                   Sebastian     96
3                  Crittenden     92
4                      Benton     81
5                      Miller     75
6         Pulaski - Southwest     70
7                   Jefferson     68
8                   Craighead     68
9             Pulaski - South     66
10                   Phillips     64
11                 St Francis     46
12  Mississippi - Blytheville     44
13                   Faulkner     40
14                   Crawford     40
15                    Garland     40
16     Pulaski - Jacksonville     39
17                      White     36
18               Independence     32
19                     Greene     30
20                      Boone     28
21                   Poinsett     27
22                     Ashley     25
23                     Chicot     25
24                        Lee     25
25                   Columbia     24
26                   Ouachita     23
27                    Jackson     23
28                     Baxter     23
29                       Pope     22
..                        ...    ...
52                   Lawrence     10
53                   Woodruff      9
54              Clay - Piggot      9
55                    Madison      9
56                      Izard      8
57                 Hot Spring      8
58                     Nevada      8
59                  Lafayette      7
60         Logan - Booneville      7
61                      Grant      7
62               Little River      7
63                      Stone      6
64                     Dallas      6
65                     Newton      6
66                 Montgomery      5
67                  Van Buren      5
68                     Fulton      5
69         Arkansas-Stuttgart      5
70                      Perry      5
71                     Searcy      5
72              Logan - Paris      5
73                    Prairie      4
74            Arkansas-Dewitt      3
75                  Cleveland      3
76                   Randolph      3
77                    Carroll      3
78                       Yell      2
79                   Franklin      2
80           Monroe-Clarendon      1
81                       Pike      1

[82 rows x 2 columns]
---

In [12]:
worc_fam = df
fam_type = worc_fam.groupby(['category','family_type']).agg({'case_number' : 'nunique'}).rename({'case_number': 'case_count'}, axis='columns')#.reset_index()
fam_type

                                                             case_count
category family_type
Tea      Family included only in overall work participat...         818
         Family with no work-eligible individual                    949
         Two-Parent Family included in both the overall ...          47
WorkPays Family included only in overall work participat...         132
         Two-Parent Family included in both the overall ...           7