# Section 1: Active Cases
**Be sure to delete the trailer after saving the transmission file in data folder**

## T1: Family Case Data

In [1]:
import os
#os.getcwd()
#os.listdir()
os.chdir('S://TANF Reports//!TANF Federal Reports//2020//CY2020_Q4//Data')

In [2]:
import pandas as pd
import numpy as np

qt1=pd.read_csv('section1.txt')  
qt1 = pd.DataFrame(qt1)

# Name column with original data as raw
qt1.columns = ['raw']

# Columns based on Transmission Format Section 1
qt1['type'] = qt1['raw'].str.extract('(..)',expand = True)
qt1['reporting month'] = qt1['raw'].str[2:8]
qt1['case number'] = qt1['raw'].str[8:19]
qt1['county fips code'] = qt1['raw'].str[19:22]
qt1['stratum'] = qt1['raw'].str[22:24]
qt1['zip code'] = qt1['raw'].str[24:29]
qt1['funding stream'] = qt1['raw'].str[29:30]
qt1['disposition'] = qt1['raw'].str[30:31]
qt1['new applicant'] = qt1['raw'].str[31:32]
qt1['# family members'] = qt1['raw'].str[32:34]
qt1['type of famlily for work particiaption'] = qt1['raw'].str[34:35]
qt1['receives subsidized housing'] = qt1['raw'].str[35:36]
qt1['receives medical assistance'] = qt1['raw'].str[36:37]
qt1['receives food stamps'] = qt1['raw'].str[37:38]
qt1['amount of food stamp assistance'] = qt1['raw'].str[38:42]
qt1['receives subisdized child care'] = qt1['raw'].str[42:43]
qt1['amount of subsidized child care'] = qt1['raw'].str[43:47]
qt1['amount of child support'] = qt1['raw'].str[47:51]
qt1['amount of familys cash resources'] = qt1['raw'].str[51:55]
qt1['cash & cash equivalents item 21A_amount'] = qt1['raw'].str[55:59]
qt1['item21B_nbr_month'] = qt1['raw'].str[59:62]
qt1['TANF child care item22A_amount'] = qt1['raw'].str[62:66]
qt1['item22B_children_covered'] = qt1['raw'].str[66:68]
qt1['item22C_nbr_months'] = qt1['raw'].str[68_71]
qt1['item23B_nbr_months'] = qt1['raw'].str[75:78]
qt1['transitional services item24A_amount'] = qt1['raw'].str[78:82]
qt1['item24B_nbr_months'] = qt1['raw'].str[82:85]
qt1['item25A_amount'] = qt1['raw'].str[85:89]
qt1['item25B_nbr_months'] = qt1['raw'].str[89:92]
qt1['reason for & amount of assistance reduction item 26A_Sanctions reduction_amount'] = qt1['raw'].str[92:96]
qt1['item26A_work requirements sanction'] = qt1['raw'].str[96:97]
qt1['item26A_family snaction for adult, no high..'] = qt1['raw'].str[97:98]
qt1['item26A_sanction for teen parent not addendin..'] = qt1['raw'].str[98:99]
qt1['item26A_failure to coply with individual res..'] = qt1['raw'].str[100:101]
qt1['item26A_other sanction'] = qt1['raw'].str[101:102]
qt1['item26B_recoupment of prior overpayment'] = qt1['raw'].str[102:106]
qt1['item26C_other total reduction amount'] = qt1['raw'].str[106:110]
qt1['item26C_family cap'] = qt1['raw'].str[110:111]
qt1['item26C_reduction based on length of receip..'] = qt1['raw'].str[110:112]
qt1['item26C_other, non-sanction'] = qt1['raw'].str[112:113]
qt1['waiver_evaluation_control_grps'] = qt1['raw'].str[113:114]
qt1['TANF family exempt from time_limits'] = qt1['raw'].str[114:116]
qt1['TANF family new child only family'] = qt1['raw'].str[116:117]
qt1['blank'] = qt1['raw'].str[117:156]

# Making a copy of q1
quarter = qt1.copy()

# Isolating all T3 data
#t1 = qt1[qt1['raw'].str.contains('T3')].drop(qt1.columns[1:],axis = 1)

# Isolating T1 data
t1_q = quarter[quarter['type'] == 'T1'].drop('raw',1)

## T2 : Adult Data

In [3]:
qt2 = pd.read_csv('section1.txt')
qt2 = pd.DataFrame(qt2)

# Name column with original data as raw
qt2.columns = ['raw']
# Columns based on Transmission Format Section 1
qt2['type'] = qt2['raw'].str[0:2]
qt2['reporting month'] = qt2['raw'].str[2:8]
qt2['case number'] = qt2['raw'].str[8:19]
qt2['family affiliation'] = qt2['raw'].str[19:20]
qt2['noncustodial parent'] = qt2['raw'].str[20:21]
qt2['dob'] = qt2['raw'].str[21:29]
qt2['ssn'] = qt2['raw'].str[29:38]
qt2['34a_hispanic or latino'] = qt2['raw'].str[38:39]
qt2['34b_american indian or alaska native'] = qt2['raw'].str[39:40]
qt2['34c_asian'] = qt2['raw'].str[40:41]
qt2['34d_black or african american'] = qt2['raw'].str[41:42]
qt2['34e_native hawaiian or other pacific islander'] = qt2['raw'].str[42:43]
qt2['34f_white'] = qt2['raw'].str[43:44]
qt2['gender'] = qt2['raw'].str[44:45]
qt2['36a_receives federal disability insurance'] = qt2['raw'].str[45:46]
qt2['36b_receives benefits based on federal disability status'] = qt2['raw'].str[46:47]
qt2['36c_receives aid to the permanently and totally disabled under title'] = qt2['raw'].str[47:48]
qt2['36d_receives aid to the aged, blind'] = qt2['raw'].str[48:49]
qt2['36e_receives supplemental security income under title'] = qt2['raw'].str[49:50]
qt2['marital status'] = qt2['raw'].str[50:51]
qt2['38_relationship to hoh'] = qt2['raw'].str[51:53]
qt2['parent with minor child'] = qt2['raw'].str[53:54]
qt2['needs of a pregnant woman'] = qt2['raw'].str[54:55]
qt2['education level'] = qt2['raw'].str[55:57]
qt2['citizenship status'] = qt2['raw'].str[57:58]
qt2['cooperation with child support'] = qt2['raw'].str[58:59]
qt2['federal tl months'] = qt2['raw'].str[59:62]
qt2['remaining monts under state tl'] = qt2['raw'].str[62:64]
qt2['current month exempt from state tl'] = qt2['raw'].str[64:65]
qt2['employment status'] = qt2['raw'].str[65:66]
qt2['work-eligible individual indicator'] = qt2['raw'].str[66:68]
qt2['work participation status'] = qt2['raw'].str[68:70]
qt2['unsubsidized employment'] = qt2['raw'].str[70:72]
qt2['subsidized private employment'] = qt2['raw'].str[72:74]
qt2['subsidized public employment'] = qt2['raw'].str[74:76]
qt2['53a_hours of participation'] = qt2['raw'].str[76:78]
qt2['53b_excused absence'] = qt2['raw'].str[78:80]
qt2['53c_holidays'] = qt2['raw'].str[80:82]
qt2['ojt'] = qt2['raw'].str[82:84]
qt2['55a_hours of participation'] = qt2['raw'].str[84:86]
qt2['55b_excused absence'] = qt2['raw'].str[86:88]
qt2['55c_holidays'] = qt2['raw'].str[88:90]
qt2['56a_hours of participation'] = qt2['raw'].str[90:92]
qt2['56b_excused absence'] = qt2['raw'].str[92:94]
qt2['56c_holidays'] = qt2['raw'].str[94:96]
qt2['57a_hours of participation'] = qt2['raw'].str[96:98]
qt2['57b_excused absence'] = qt2['raw'].str[98:100]
qt2['57c_holidays'] = qt2['raw'].str[100:102]
qt2['58a_hours of participation'] = qt2['raw'].str[102:104]
qt2['58b_excused absence'] = qt2['raw'].str[104:106]
qt2['58c_holidays'] = qt2['raw'].str[106:108]
qt2['59a_hours of participation'] = qt2['raw'].str[108:110]
qt2['59b_excused absence'] = qt2['raw'].str[110:112]
qt2['59c_holidays'] = qt2['raw'].str[112:114]
qt2['60a_hours of participation'] = qt2['raw'].str[114:116]
qt2['60b_excused absence'] = qt2['raw'].str[116:118]
qt2['60c_holidays'] = qt2['raw'].str[118:120]
qt2['61a_hours of participation'] = qt2['raw'].str[120:122]
qt2['61b_excused absence'] = qt2['raw'].str[122:124]
qt2['61c_holidays'] = qt2['raw'].str[124:126]
qt2['other work activities'] = qt2['raw'].str[126:128]
qt2['core hours_overall rate'] = qt2['raw'].str[128:130]
qt2['core hours_2p rate'] = qt2['raw'].str[130:132]
qt2['amt earned income'] = qt2['raw'].str[132:136]
qt2['66a_income tax credit'] = qt2['raw'].str[136:140]
qt2['66b_social security'] = qt2['raw'].str[140:144]
qt2['66c_ssi'] = qt2['raw'].str[144:148]
qt2['66d_workers comp'] = qt2['raw'].str[148:152]
qt2['66e_other unearned income'] = qt2['raw'].str[152:156]


# Making a copy of q2
quarter_t2 = qt2.copy()

# Isolating T1 data
t2_q = quarter_t2[quarter_t2['type'] == 'T2'].drop('raw',1)

## T3: Children Data

In [171]:
# Isolating all T3 data
t3 = qt1[qt1['raw'].str.contains('T3')].drop(qt1.columns[1:],axis = 1)

# dataframe
qt3 = pd.DataFrame(t3)

# Name column with original data as raw
qt3.columns = ['raw']

# Columns based on Transmission Format Section 1
qt3['type'] = qt2['raw'].str[0:2]
qt3['reporting month'] = qt2['raw'].str[2:8]

### Error on Gender

In [4]:
gender =t2_q['gender'].value_counts()
gender_error = t2_q.loc[t2_q['gender']=='3',['type','reporting month', 'case number','gender']]

#print('Unique gender counts: \n%s\n' %gender)
#print('List of cases with gender code error: \n%s\n' %gender_error)
gender_error

      type reporting month  case number gender
3311    T2          202010  00007740399      3
9789    T2          202011  00007740399      3
16038   T2          202012  00007740399      3

## If 21A>0 Then 21B must >0

In [5]:
# Isolating T1 data
t1_q = quarter[quarter['type'] == 'T1'].drop('raw',1)

In [6]:
months_error = t1_q.loc[(t1_q['cash & cash equivalents item 21A_amount']>'0000') & 
                        (t1_q['item21B_nbr_month']<='000'),
                        ['type','reporting month','case number','type of famlily for work particiaption','cash & cash equivalents item 21A_amount','item21B_nbr_month']]
#print('Number of months error: \n%s\n' %months_error)
months_error

,type,reporting month,case number,type of famlily for work particiaption,cash & cash equivalents item 21A_amount,item21B_nbr_month
3310,T1,202010,00007740399,3,0204,000
7211,T1,202011,00003150722,3,0081,000
13543,T1,202012,00003150722,3,0081,000
18933,T1,202012,00009104114,3,0081,000

## Error code 2   (Type Family item 12 = 1 but no work eligible individual found)

In [7]:
er_2 = t1_q.loc[(t1_q['type of famlily for work particiaption']=='3') &
               (t1_q['TANF family exempt from time_limits'] !='02'),['reporting month','case number',
                                                                  'type of famlily for work particiaption',
                                                                  'TANF family exempt from time_limits']]
er_2.shape

(36, 4)

## WPR Error code 13

In [8]:
# Creating subset from T1 & T2
t1_13 = t1_q[['type of famlily for work particiaption','reporting month','case number','reason for & amount of assistance reduction item 26A_Sanctions reduction_amount','item26A_work requirements sanction']]
t2_13 = t2_q[['reporting month', 'case number','work participation status', 'family affiliation', 'work-eligible individual indicator']]

# Merge the subsets
result = pd.merge(t1_13, t2_13, how="outer", on=["reporting month", "case number"])
result.shape

(6068, 8)

In [9]:
# WPR Error 13 case 1
er_13_1 = result.loc[((result['work participation status'] == '02') &
                       (result['reason for & amount of assistance reduction item 26A_Sanctions reduction_amount']>'0000') &
                       (result['item26A_work requirements sanction'] == '1')&
                       (result['family affiliation'] == '1')),['type of famlily for work particiaption',
                                                         'case number',
                                                         'reporting month',
                                                         'work participation status',
                                                         'reason for & amount of assistance reduction item 26A_Sanctions reduction_amount',
                                                         'item26A_work requirements sanction',
                                                         'family affiliation']]
er_13_1.shape

(728, 7)

In [14]:
er_13_1['case number'].unique().size

349

In [46]:
k = result.loc[result['case number'] =='00007756039']#,['case number','reporting month']]#, 'work participation status']]
k

,type of famlily for work particiaption,reporting month,case number,reason for & amount of assistance reduction item 26A_Sanctions reduction_amount,item26A_work requirements sanction,work participation status,family affiliation,work-eligible individual indicator
1193,1,202010,00007756039,0001,1,02,1,01
3532,1,202011,00007756039,-122,1,02,1,01

In [45]:
# WPR Error 13 case 2
er_13_2 = result.loc[((result['work participation status'] == '02') &
                      (result['reason for & amount of assistance reduction item 26A_Sanctions reduction_amount']>'0000') &
                      (result['item26A_work requirements sanction'] == '1')&
                      (result['family affiliation'] == '2')&
                      (result['work-eligible individual indicator'] == '02')),
                     ['type of famlily for work particiaption',
                      'case number',
                      'reporting month',
                      'work participation status',
                      'reason for & amount of assistance reduction item 26A_Sanctions reduction_amount',
                      'family affiliation']]
                                                                              

er_13_2

Empty DataFrame
Columns: [type of famlily for work particiaption, case number, reporting month, work participation status, reason for & amount of assistance reduction item 26A_Sanctions reduction_amount, family affiliation]
Index: []

In [161]:
import os

file_name = 'error_file_list.xlsx'
writer = pd.ExcelWriter(file_name, engine='openpyxl')


if os.path.exists(file_name):
    book = openpyxl.load_workbook(file_name)
    writer.book = book
    
er_13_2.to_excel(writer, sheet_name = 'error_13',index=False)
months_error.to_excel(writer, sheet_name = 'months_error',index=False)
gender_error.to_excel(writer, sheet_name = 'gender_error',index=False)

writer.save()
writer.close()

"""
# Save statistics in a new tab of Caseload Breakdown By Local Office - August 2019.xlsx 
file_name = 'Caseload Breakdown by Local Office' + ' - ' + str_prev_month + ' ' + now.strftime('%Y') + '.xlsx'
writer = pd.ExcelWriter(file_name, engine='openpyxl')

# Save dataframe in a new tab of Caseload Breakdown By Local Office - August 2019.xlsx
if os.path.exists(file_name):
    book = openpyxl.load_workbook(file_name)
    writer.book = book
    
# Save dataframe in a new tab of Caseload Breakdown By Local Office - August 2019.xlsx    
df_sanction_count.to_excel(writer, sheet_name= str_prev_month + '_sanction', index=False)
df_case_count.to_excel(writer, sheet_name= str_prev_month + '_caseload', index=False)
agg_frame.to_excel(writer, sheet_name= str_prev_month + '_aggregate', index=False)
stat_frame.to_excel(writer, sheet_name= str_prev_month + '_stats', index=False)
caseload_count.to_excel(writer, sheet_name= str_prev_month + '_caseload_count_cn' , index=False)
writer.save()
writer.close()
"""

NameError: name 'openpyxl' is not defined

In [155]:
result2 = pd.merge(t1_13, t2_13, how="outer", on=["case number","reporting month"])
result2.shape

(6900, 7)

In [135]:
os.getcwd()

'S:\\TANF Reports\\!TANF Federal Reports\\2020\\CY2020_Q4\\Data'

In [74]:
t2_13.shape

(6900, 4)

In [103]:
result.shape

(6900, 7)

# Section 2: Closed Cases Data
**Be sure to delete the trailer after saving the transmission file in data folder**

## T4: Case Data
### To find out total number of closed cases in each month of the quarter

In [3]:
import pandas as pd
import numpy as np

qt4=pd.read_csv('section2_file.txt')  
qt4 = pd.DataFrame(qt4)

# Name column with original data as raw
qt4.columns = ['raw']

# Columns based on Transmission Format Section 1
qt4['record type'] = qt4['raw'].str.extract('(..)',expand = True)
qt4['reporting month'] = qt4['raw'].str[2:8]
qt4['case number'] = qt4['raw'].str[8:19]
qt4['county fips code'] = qt4['raw'].str[19:22]
qt4['stratum'] = qt4['raw'].str[22:24]
qt4['zip code'] = qt4['raw'].str[24:29]
qt4['disposition'] = qt4['raw'].str[29:30]
qt4['reason for closure'] = qt4['raw'].str[30:32]
qt4['receives subsidized housing'] = qt4['raw'].str[32:33]
qt4['receives medical assistance'] = qt4['raw'].str[33:34]
qt4['receives food stamps'] = qt4['raw'].str[34:35]
qt4['reporting'] = qt4['raw'].str[2:8]
qt4['receives subsidized child care'] = qt4['raw'].str[35:36]
qt4['blanks'] = qt4['raw'].str[36:71]

# Making a copy 
quarter = qt4.copy()

# Total T4, T4 in the quarter
t4t5 = quarter['record type'].value_counts()

# Filter out T4:  Case Data
quarter_t4 = quarter[quarter['record type'].str.contains('T4')]
quarter_t4_breakdown = quarter_t4['reporting month'].value_counts()

# Number of cases closed in each reporting month of the quarter
closed = (quarter_t4['reporting month']).value_counts()

print('Total number of T4 and T5 in section2: \n%s\n' %t4t5)
print('Total number of cases closed in each month of the quarter: \n%s' %closed)

Total number of T4 and T5 in section2:
T5    514
T4    485
Name: record type, dtype: int64

Total number of cases closed in each month of the quarter:
202010    205
202011    168
202012    112
Name: reporting month, dtype: int64

# Section 3 (Aggregate)
### Delete 7 characters starting from T6 and delete any $ over 8 characters, then run the following code

In [4]:
from textwrap import wrap
t6_2020q4 = '000017510000171100001736000001420000011200000147000016090000159900001589$$$$$$$$000020240000195300001916000000550000005400000052000010010000095000000926000009680000094900000938000045510000435600004264000011170000106100001035000034340000329500003229000000110000000800000009000000020000000000000001000000000000000000000000000002050000016800000190TRAILER1 '
wrap(t6_2020q4,8)

['00001751',
 '00001711',
 '00001736',
 '00000142',
 '00000112',
 '00000147',
 '00001609',
 '00001599',
 '00001589',
 '$$$$$$$$',
 '00002024',
 '00001953',
 '00001916',
 '00000055',
 '00000054',
 '00000052',
 '00001001',
 '00000950',
 '00000926',
 '00000968',
 '00000949',
 '00000938',
 '00004551',
 '00004356',
 '00004264',
 '00001117',
 '00001061',
 '00001035',
 '00003434',
 '00003295',
 '00003229',
 '00000011',
 '00000008',
 '00000009',
 '00000002',
 '00000000',
 '00000001',
 '00000000',
 '00000000',
 '00000000',
 '00000205',
 '00000168',
 '00000190',
 'TRAILER1']

In [ ]:
000017510000171100001736000001420000011200000147000016090000159900001589$$$$$$$$000020240000195300001916000000550000005400000052000010010000095000000926000009680000094900000938000045510000435600004264000011170000106100001035000034340000329500003229000000110000000800000009000000020000000000000001000000000000000000000000000002050000016800000190TRAILER1

In [ ]:
# Python code demonstrate creating 
# DataFrame from dict and left aligning
import pandas as pd 
  
# intialise data of lists. 
data = {'Name' : ['Tania', 'Ravi', 
                  'Surbhi', 'Ganesh'], 
          
        'Articles' : [50, 30, 45, 33], 
          
        'Location' : ['Kanpur', 'Kolkata',
                      'Kolkata', 'Bombay']} 
  
# Create DataFrame 
df = pd.DataFrame(data) 
  
left_aligned_df = df.style.set_properties(**{'text-align': 'left'})
display(left_aligned_df)