In [1]:
import pandas as pd
import numpy as np
import time
import os

t = time.localtime()
timestamp = time.strftime('%y%m%d-%H%M', t)

# read excel
df = pd.read_excel('H://Current_Working_Folder//Reports Analytics//202008//202008-t_worc_families-20201125_1100.xlsx')

# assign path and reporitng month
drive = 'H://Current_Working_Folder//Reports Analytics//'
reporting_month = str(df.loc[0,'reporting_month'])

# Filter with column names ending with amt, amount, nbr_month
df_amt = df.filter(regex = 'amt$|amount$|amount$|nbr_month$|nbr_months', axis='columns')

# Describe the filtered dataframe
df_des = df_amt.describe()

# Write the describe to excel
writer = pd.ExcelWriter(drive + reporting_month + '//' + reporting_month + '_' + 'report' + '-' + timestamp + '.xlsx')
#df_des.to_excel(writer, index = False)
df_des.to_excel(writer, sheet_name='family_stat')
writer.save()

In [2]:
#df.columns

In [3]:
df.shape

(2220, 56)

In [4]:
df['subsid_child_care'].value_counts()

No subsidized child care received    2220
Name: subsid_child_care, dtype: int64

In [5]:
df['subsid_child_care_amt'].sum()

0

In [6]:
df['tanf child care_children_covered'].value_counts()

0    2220
Name: tanf child care_children_covered, dtype: int64

In [7]:
df['tanf child care_amount'].sum()

0

In [8]:
cat = df.drop(df_amt, axis='columns')
#cat1 = cat.drop((cat.loc[:,'reporting_month':'stratum']),axis='columns')
cat1 = cat.drop(['id','reporting_month','case_number','county_fips_code','stratum','disposition','worker_id',
                 'case_manager','area','created_by','updated_by','created_at','updated_at','ans_county',
                 'local_office','waiver_grps'], axis='columns')
cat2 = cat1.drop(cat1.filter(regex = '^reason|^other'), axis='columns')

In [9]:
reason_cat = cat1.filter(regex = '^reason', axis='columns')

for c in reason_cat.columns:
    print(reason_cat[c].value_counts())
    print('---')

No     2114
Yes     106
Name: reason for amount of reduction_work requirements sanction, dtype: int64
---
No    2220
Name: reason for amount of reduction_Family Sanction for an Adult with No High School Diploma or Equivalent, dtype: int64
---
No    2220
Name: reason for amount of reduction_Sanction for Teen Parent not Attending School, dtype: int64
---
No     2161
Yes      59
Name: reason for amount of reduction_Non-Cooperation with Child Support, dtype: int64
---
No    2220
Name: reason for amount of reduction_Failure to Comply with an Individual Responsibility Plan, dtype: int64
---
No     2218
Yes       2
Name: reason for amount of reduction_Other Sanction, dtype: int64
---
0    2220
Name: reason for amount of reduction_Recoupment of Prior Overpayment, dtype: int64
---

In [10]:
#((df.filter(regex = '^reason'))).head(20)

In [11]:
for c in cat2.columns:
    print((cat2[c].value_counts().to_frame('count').rename_axis(c)).reset_index())
    print('---')

   category  count
0       Tea   2052
1  WorkPays    168
---
     zip_code  count
0       71854     77
1       72209     69
2       72301     64
3       72401     50
4       72114     46
5       72390     44
6       72335     41
7       72204     38
8       72450     36
9       72076     35
10      72901     35
11      72764     34
12      72117     32
13      72956     32
14      71601     30
15      72206     30
16      72904     28
17      72315     28
18      72118     26
19      72342     25
20      72143     25
21      72601     25
22      72701     24
23      71701     24
24      72360     22
25      72112     22
26      71603     21
27      71730     20
28      71913     19
29      72370     18
..        ...    ...
318     72447      1
319     72384      1
320     72386      1
321     71752      1
322     72427      1
323     72419      1
324     72416      1
325     72415      1
326     72411      1
327     72434      1
328     72513      1
329     72523      1
330     72126      1
331     72324      1
332     72142      1
333     72683      1
334     72168      1
335     72651      1
336     72180      1
337     72214      1
338     72633      1
339     72623      1
340     45631      1
341     72312      1
342     72571      1
343     72567      1
344     72565      1
345     72537      1
346     72533      1
347     71675      1

[348 rows x 2 columns]
---
                                      funding_stream  count
0  Funded, in whole or in part, with Federal TANF...   2220
---
                       new_applicant  count
0     Not newly-approved application   2212
1  Yes, a newly-approved application      8
---
   family_size  count
0            2    880
1            1    519
2            3    477
3            4    217
4            5     96
5            6     20
6            7      7
7            8      2
8           11      1
9            9      1
---
                                         family_type  count
0  Family included only in overall work participa...   1143
1            Family with no work-eligible individual   1000
2  Two-Parent Family included in both the overall...     77
---
       subsid_housing  count
0  No housing subsidy   2219
1      Public housing      1
---
                           medical_assist  count
0     Does not receive Medical Assistance   1493
1   Yes, enrolled in Medicaid and/or CHIP    727
---
                           food_stamps  count
0  Yes, receives food stamp assistance   1559
1          Does not receive food stamp    661
---
                   subsid_child_care  count
0  No subsidized child care received   2220
---
   tanf child care_children_covered  count
0                                 0   2220
---
  Other, Non-sanction  count
0                  No   2220
---
                                   exempt_time_limit  count
0      Family is not exempt from Federal time limit.   1230
1   Yes, family is exempt from accrual of months ...    990
---
                 new_child_only_fam  count
0   No, not a new child-only family   2212
1      Yes, a new child-only family      8
---
                       county  count
0                  Washington    127
1             Pulaski - North    117
2                  Crittenden    100
3         Pulaski - Southwest    100
4                   Sebastian    100
5             Pulaski - South     92
6                      Miller     85
7                    Phillips     83
8                   Craighead     76
9                      Benton     74
10                  Jefferson     70
11                 St Francis     53
12     Pulaski - Jacksonville     45
13                    Garland     44
14                   Faulkner     43
15                   Crawford     43
16                      White     43
17                     Greene     42
18  Mississippi - Blytheville     35
19                      Boone     32
20                   Poinsett     30
21                   Ouachita     29
22                     Ashley     29
23                     Chicot     27
24                   Columbia     27
25                       Pope     26
26                     Baxter     25
27               Independence     25
28                        Lee     24
29                      Desha     24
..                        ...    ...
53                      Izard     10
54            Monroe-Brinkley      9
55                 Hot Spring      9
56                     Nevada      9
57                   Woodruff      9
58              Logan - Paris      9
59         Logan - Booneville      9
60                    Madison      8
61                      Scott      8
62                      Stone      8
63                     Newton      8
64                  Lafayette      8
65                     Fulton      7
66                      Grant      7
67         Arkansas-Stuttgart      6
68                    Prairie      6
69                     Dallas      6
70                 Montgomery      6
71                   Randolph      5
72                      Perry      5
73                  Van Buren      5
74                  Cleveland      5
75                     Searcy      4
76            Arkansas-Dewitt      3
77                   Franklin      3
78                       Yell      2
79                       Pike      2
80           Monroe-Clarendon      1
81                    Calhoun      1
82                    Carroll      1

[83 rows x 2 columns]
---

In [12]:
worc_fam = df
fam_type = worc_fam.groupby(['category','family_type']).agg({'case_number' : 'nunique'}).rename({'case_number': 'case_count'}, axis='columns')#.reset_index()
fam_type

                                                             case_count
category family_type
Tea      Family included only in overall work participat...         987
         Family with no work-eligible individual                   1000
         Two-Parent Family included in both the overall ...          65
WorkPays Family included only in overall work participat...         156
         Two-Parent Family included in both the overall ...          12