In [1]:
import pandas as pd
import numpy as np
import time
import os

t = time.localtime()
timestamp = time.strftime('%y%m%d-%H%M', t)

# read excel
df = pd.read_excel('H://Current_Working_Folder//Reports Analytics//202012//202012-t_worc_families-20210212_1032.xlsx')

# assign path and reporitng month
drive = 'H://Current_Working_Folder//Reports Analytics//'
reporting_month = str(df.loc[0,'reporting_month'])

# Filter with column names ending with amt, amount, nbr_month
df_amt = df.filter(regex = 'amt$|amount$|amount$|nbr_month$|nbr_months', axis='columns')

# Describe the filtered dataframe
df_des = df_amt.describe()

# Write the describe to excel
writer = pd.ExcelWriter(drive + reporting_month + '//' + reporting_month + '_' + 'report' + '-' + timestamp + '.xlsx')
#df_des.to_excel(writer, index = False)
df_des.to_excel(writer, sheet_name='family_stat')
writer.save()

In [2]:
#df.columns

In [3]:
df.shape

(1918, 56)

In [4]:
df['subsid_child_care'].value_counts()

No subsidized child care received    1918
Name: subsid_child_care, dtype: int64

In [5]:
df['subsid_child_care_amt'].sum()

0

In [6]:
df['tanf child care_children_covered'].value_counts()

0    1918
Name: tanf child care_children_covered, dtype: int64

In [7]:
df['tanf child care_amount'].sum()

0

In [8]:
cat = df.drop(df_amt, axis='columns')
#cat1 = cat.drop((cat.loc[:,'reporting_month':'stratum']),axis='columns')
cat1 = cat.drop(['id','reporting_month','case_number','county_fips_code','stratum','disposition','worker_id',
                 'case_manager','area','created_by','updated_by','created_at','updated_at','ans_county',
                 'local_office','waiver_grps'], axis='columns')
cat2 = cat1.drop(cat1.filter(regex = '^reason|^other'), axis='columns')

In [9]:
reason_cat = cat1.filter(regex = '^reason', axis='columns')

for c in reason_cat.columns:
    print(reason_cat[c].value_counts())
    print('---')

No     1686
Yes     232
Name: reason for amount of reduction_work requirements sanction, dtype: int64
---
No    1918
Name: reason for amount of reduction_Family Sanction for an Adult with No High School Diploma or Equivalent, dtype: int64
---
No    1918
Name: reason for amount of reduction_Sanction for Teen Parent not Attending School, dtype: int64
---
No     1845
Yes      73
Name: reason for amount of reduction_Non-Cooperation with Child Support, dtype: int64
---
No     1916
Yes       2
Name: reason for amount of reduction_Failure to Comply with an Individual Responsibility Plan, dtype: int64
---
No     1914
Yes       4
Name: reason for amount of reduction_Other Sanction, dtype: int64
---
0    1918
Name: reason for amount of reduction_Recoupment of Prior Overpayment, dtype: int64
---

In [10]:
#((df.filter(regex = '^reason'))).head(20)

In [11]:
for c in cat2.columns:
    print((cat2[c].value_counts().to_frame('count').rename_axis(c)).reset_index())
    print('---')

   category  count
0       Tea   1787
1  WorkPays    131
---
     zip_code  count
0       71854     67
1       72301     60
2       72209     47
3       72401     45
4       72390     36
5       72204     34
6       72114     34
7       72335     33
8       71601     33
9       72764     31
10      72315     29
11      72901     27
12      72076     27
13      72904     26
14      71603     26
15      72956     25
16      72117     23
17      72701     22
18      72450     22
19      72601     22
20      72112     21
21      72206     21
22      72370     21
23      72360     20
24      72143     20
25      72501     18
26      72342     18
27      71913     18
28      71701     18
29      71671     17
..        ...    ...
312     72145      1
313     72137      1
314     72135      1
315     72416      1
316     72429      1
317     72568      1
318     72519      1
319     72567      1
320     72566      1
321     72565      1
322     72538      1
323     72537      1
324     72536      1
325     72533      1
326     72530      1
327     72523      1
328     72520      1
329     72513      1
330     72433      1
331     72503      1
332     72479      1
333     72471      1
334     72469      1
335     72466      1
336     72462      1
337     72447      1
338     72440      1
339     72436      1
340     72434      1
341     72415      1

[342 rows x 2 columns]
---
                                      funding_stream  count
0  Funded, in whole or in part, with Federal TANF...   1918
---
                       new_applicant  count
0     Not newly-approved application   1892
1  Yes, a newly-approved application     26
---
   family_size  count
0            2    740
1            1    489
2            3    397
3            4    185
4            5     79
5            6     19
6            7      4
7            8      3
8           11      1
9            9      1
---
                                         family_type  count
0            Family with no work-eligible individual    935
1  Family included only in overall work participa...    928
2  Two-Parent Family included in both the overall...     52
3                                          Not found      3
---
       subsid_housing  count
0  No housing subsidy   1917
1      Public housing      1
---
                           medical_assist  count
0     Does not receive Medical Assistance   1236
1   Yes, enrolled in Medicaid and/or CHIP    682
---
                           food_stamps  count
0  Yes, receives food stamp assistance   1291
1          Does not receive food stamp    627
---
                   subsid_child_care  count
0  No subsidized child care received   1918
---
   tanf child care_children_covered  count
0                                 0   1918
---
  Other, Non-sanction  count
0                  No   1918
---
                                   exempt_time_limit  count
0      Family is not exempt from Federal time limit.    992
1   Yes, family is exempt from accrual of months ...    926
---
                 new_child_only_fam  count
0   No, not a new child-only family   1907
1      Yes, a new child-only family     11
---
                       county  count
0                  Washington    103
1                  Crittenden     90
2                   Sebastian     87
3                      Benton     84
4             Pulaski - North     84
5                      Miller     77
6                   Jefferson     76
7                   Craighead     74
8             Pulaski - South     72
9         Pulaski - Southwest     64
10                   Phillips     62
11  Mississippi - Blytheville     48
12                    Garland     41
13                 St Francis     39
14                   Crawford     38
15     Pulaski - Jacksonville     37
16                   Faulkner     37
17                      White     36
18               Independence     33
19                   Poinsett     28
20                     Greene     28
21                      Boone     27
22                     Chicot     25
23                   Ouachita     24
24                    Jackson     23
25                     Baxter     23
26                   Columbia     22
27                     Ashley     22
28                      Desha     21
29                        Lee     21
..                        ...    ...
53                    Madison      9
54            Monroe-Brinkley      9
55                      Izard      9
56                   Woodruff      9
57                 Hot Spring      8
58               Little River      7
59                      Grant      7
60                     Nevada      7
61         Logan - Booneville      6
62                      Perry      6
63                      Stone      6
64                  Van Buren      6
65                     Dallas      5
66                     Searcy      5
67                     Newton      5
68         Arkansas-Stuttgart      5
69                  Lafayette      5
70              Logan - Paris      5
71                     Fulton      5
72                   Randolph      4
73                    Prairie      4
74                    Carroll      3
75                 Montgomery      3
76                  Cleveland      3
77            Arkansas-Dewitt      3
78                   Franklin      2
79                       Yell      2
80           Monroe-Clarendon      1
81                    Calhoun      1
82                       Pike      1

[83 rows x 2 columns]
---

In [12]:
worc_fam = df
fam_type = worc_fam.groupby(['category','family_type']).agg({'case_number' : 'nunique'}).rename({'case_number': 'case_count'}, axis='columns')#.reset_index()
fam_type

                                                             case_count
category family_type
Tea      Family included only in overall work participat...         805
         Family with no work-eligible individual                    935
         Not found                                                    3
         Two-Parent Family included in both the overall ...          44
WorkPays Family included only in overall work participat...         123
         Two-Parent Family included in both the overall ...           8