In [1]:
import pandas as pd
import numpy as np
import time
import os

t = time.localtime()
timestamp = time.strftime('%y%m%d-%H%M', t)

# read excel
df = pd.read_excel('H://Current_Working_Folder//Reports Analytics//202002//202002-t_worc_families-20200512_0903.xlsx')

# assign path and reporitng month
drive = 'H://Current_Working_Folder//Reports Analytics//'
reporting_month = str(df.loc[0,'reporting_month'])

# Filter with column names ending with amt, amount, nbr_month
df_amt = df.filter(regex = 'amt$|amount$|amount$|nbr_month$|nbr_months', axis='columns')

# Describe the filtered dataframe
df_des = df_amt.describe()

# Write the describe to excel
writer = pd.ExcelWriter(drive + reporting_month + '//' + reporting_month + '_' + 'report' + '-' + timestamp + '.xlsx')
#df_des.to_excel(writer, index = False)
df_des.to_excel(writer, sheet_name='family_stat')
writer.save()

In [3]:
#df.columns

In [4]:
df.shape

(2268, 56)

In [5]:
df['subsid_child_care'].value_counts()

No subsidized child care received                                                                                                                 2208
Yes, receives child care funded entirely or in part with Federal funds (e.g., receives TANF, CCDF, SSBG, or other federally funded child care)      60
Name: subsid_child_care, dtype: int64

In [6]:
df['subsid_child_care_amt'].sum()

40049

In [7]:
df['tanf child care_children_covered'].value_counts()

0    2268
Name: tanf child care_children_covered, dtype: int64

In [8]:
df['tanf child care_amount'].sum()

0

In [9]:
cat = df.drop(df_amt, axis='columns')
#cat1 = cat.drop((cat.loc[:,'reporting_month':'stratum']),axis='columns')
cat1 = cat.drop(['id','reporting_month','case_number','county_fips_code','stratum','disposition','worker_id',
                 'case_manager','area','created_by','updated_by','created_at','updated_at','ans_county',
                 'local_office','waiver_grps'], axis='columns')
cat2 = cat1.drop(cat1.filter(regex = '^reason|^other'), axis='columns')

In [10]:
reason_cat = cat1.filter(regex = '^reason', axis='columns')

for c in reason_cat.columns:
    print(reason_cat[c].value_counts())
    print('---')

No     2026
Yes     242
Name: reason for amount of reduction_work requirements sanction, dtype: int64
---
No    2268
Name: reason for amount of reduction_Family Sanction for an Adult with No High School Diploma or Equivalent, dtype: int64
---
No    2268
Name: reason for amount of reduction_Sanction for Teen Parent not Attending School, dtype: int64
---
No     2149
Yes     119
Name: reason for amount of reduction_Non-Cooperation with Child Support, dtype: int64
---
No     2266
Yes       2
Name: reason for amount of reduction_Failure to Comply with an Individual Responsibility Plan, dtype: int64
---
No     2263
Yes       5
Name: reason for amount of reduction_Other Sanction, dtype: int64
---
0    2268
Name: reason for amount of reduction_Recoupment of Prior Overpayment, dtype: int64
---

In [11]:
#((df.filter(regex = '^reason'))).head(20)

In [12]:
for c in cat2.columns:
    print((cat2[c].value_counts().to_frame('count').rename_axis(c)).reset_index())
    print('---')

   category  count
0       Tea   2032
1  WorkPays    236
---
     zip_code  count
0       71854     79
1       72209     64
2       72301     64
3       72401     56
4       72114     42
5       72390     41
6       72204     40
7       72335     40
8       72956     39
9       72076     35
10      71601     34
11      72143     34
12      72315     34
13      72764     33
14      72901     32
15      72360     32
16      72904     31
17      72206     31
18      71603     30
19      72117     27
20      72450     27
21      72032     25
22      71953     24
23      71701     24
24      72342     23
25      71913     22
26      71730     22
27      72601     21
28      71901     21
29      72701     20
..        ...    ...
332     72513      1
333     72479      1
334     72471      1
335     72469      1
336     72459      1
337     72735      1
338     85035      1
339     71838      1
340     72933      1
341     71826      1
342     71802      1
343     71752      1
344     71675      1
345     71670      1
346     71658      1
347     71652      1
348     72969      1
349     72959      1
350     38112      1
351     72749      1
352     72923      1
353     74960      1
354     72863      1
355     72845      1
356     72837      1
357     72821      1
358     72811      1
359     72757      1
360     72751      1
361     71677      1

[362 rows x 2 columns]
---
                                      funding_stream  count
0  Funded, in whole or in part, with Federal TANF...   2268
---
                       new_applicant  count
0     Not newly-approved application   2249
1  Yes, a newly-approved application     19
---
   family_size  count
0            2    881
1            1    550
2            3    487
3            4    225
4            5     92
5            6     26
6            7      5
7            9      1
8            8      1
---
                                         family_type  count
0  Family included only in overall work participa...   1140
1            Family with no work-eligible individual   1067
2  Two-Parent Family included in both the overall...     61
---
       subsid_housing  count
0  No housing subsidy   2268
---
                           medical_assist  count
0     Does not receive Medical Assistance   1513
1   Yes, enrolled in Medicaid and/or CHIP    755
---
                           food_stamps  count
0  Yes, receives food stamp assistance   1543
1          Does not receive food stamp    725
---
                                   subsid_child_care  count
0                  No subsidized child care received   2208
1  Yes, receives child care funded entirely or in...     60
---
   tanf child care_children_covered  count
0                                 0   2268
---
  Other, Non-sanction  count
0                  No   2268
---
                                   exempt_time_limit  count
0      Family is not exempt from Federal time limit.   1214
1   Yes, family is exempt from accrual of months ...   1054
---
                 new_child_only_fam  count
0   No, not a new child-only family   2250
1      Yes, a new child-only family     18
---
                       county  count
0             Pulaski - North    111
1                  Washington    109
2                   Sebastian    102
3                  Crittenden     99
4         Pulaski - Southwest     92
5                   Jefferson     89
6                      Miller     87
7                   Craighead     85
8                    Phillips     77
9             Pulaski - South     69
10                      White     66
11                     Benton     62
12     Pulaski - Jacksonville     55
13                 St Francis     55
14                   Faulkner     52
15                   Crawford     50
16                    Garland     50
17  Mississippi - Blytheville     41
18                   Poinsett     35
19                        Lee     33
20                       Polk     31
21                     Greene     31
22                   Ouachita     30
23                     Ashley     29
24             Pulaski - East     28
25                     Conway     27
26                      Boone     27
27                      Union     26
28                   Columbia     26
29                     Baxter     26
..                        ...    ...
52                  Cleveland     11
53                     Marion     11
54                      Grant      9
55         Logan - Booneville      9
56                     Fulton      9
57                     Dallas      9
58                    Madison      8
59                      Stone      8
60                  Van Buren      8
61         Arkansas-Stuttgart      8
62                   Randolph      8
63            Monroe-Brinkley      8
64                      Izard      8
65                   Woodruff      7
66                      Perry      7
67                 Hot Spring      7
68                      Clark      7
69                     Newton      6
70                  Lafayette      6
71                      Scott      6
72              Logan - Paris      6
73                     Searcy      6
74                    Prairie      5
75            Arkansas-Dewitt      4
76                   Franklin      3
77                 Montgomery      3
78           Monroe-Clarendon      2
79                    Carroll      1
80                       Yell      1
81                       Pike      1

[82 rows x 2 columns]
---

In [13]:
worc_fam = df
fam_type = worc_fam.groupby(['category','family_type']).agg({'case_number' : 'nunique'}).rename({'case_number': 'case_count'}, axis='columns')#.reset_index()
fam_type

                                                             case_count
category family_type
Tea      Family included only in overall work participat...         919
         Family with no work-eligible individual                   1067
         Two-Parent Family included in both the overall ...          46
WorkPays Family included only in overall work participat...         221
         Two-Parent Family included in both the overall ...          15