In [1]:
import pandas as pd
import numpy as np
import time
import os

t = time.localtime()
timestamp = time.strftime('%y%m%d-%H%M', t)

# read excel
df = pd.read_excel('H://Current_Working_Folder//Reports Analytics//202010//202010-t_worc_families-20210212_1610.xlsx')

# assign path and reporitng month
drive = 'H://Current_Working_Folder//Reports Analytics//'
reporting_month = str(df.loc[0,'reporting_month'])

# Filter with column names ending with amt, amount, nbr_month
df_amt = df.filter(regex = 'amt$|amount$|amount$|nbr_month$|nbr_months', axis='columns')

# Describe the filtered dataframe
df_des = df_amt.describe()

# Write the describe to excel
writer = pd.ExcelWriter(drive + reporting_month + '//' + reporting_month + '_' + 'report' + '-' + timestamp + '.xlsx')
#df_des.to_excel(writer, index = False)
df_des.to_excel(writer, sheet_name='family_stat')
writer.save()

In [2]:
#df.columns

In [3]:
df.shape

(2024, 56)

In [4]:
df['subsid_child_care'].value_counts()

No subsidized child care received    2024
Name: subsid_child_care, dtype: int64

In [5]:
df['subsid_child_care_amt'].sum()

0

In [6]:
df['tanf child care_children_covered'].value_counts()

0    2024
Name: tanf child care_children_covered, dtype: int64

In [7]:
df['tanf child care_amount'].sum()

0

In [8]:
cat = df.drop(df_amt, axis='columns')
#cat1 = cat.drop((cat.loc[:,'reporting_month':'stratum']),axis='columns')
cat1 = cat.drop(['id','reporting_month','case_number','county_fips_code','stratum','disposition','worker_id',
                 'case_manager','area','created_by','updated_by','created_at','updated_at','ans_county',
                 'local_office','waiver_grps'], axis='columns')
cat2 = cat1.drop(cat1.filter(regex = '^reason|^other'), axis='columns')

In [9]:
reason_cat = cat1.filter(regex = '^reason', axis='columns')

for c in reason_cat.columns:
    print(reason_cat[c].value_counts())
    print('---')

No     1793
Yes     231
Name: reason for amount of reduction_work requirements sanction, dtype: int64
---
No    2024
Name: reason for amount of reduction_Family Sanction for an Adult with No High School Diploma or Equivalent, dtype: int64
---
No    2024
Name: reason for amount of reduction_Sanction for Teen Parent not Attending School, dtype: int64
---
No     1942
Yes      82
Name: reason for amount of reduction_Non-Cooperation with Child Support, dtype: int64
---
No     2023
Yes       1
Name: reason for amount of reduction_Failure to Comply with an Individual Responsibility Plan, dtype: int64
---
No     2020
Yes       4
Name: reason for amount of reduction_Other Sanction, dtype: int64
---
0    2024
Name: reason for amount of reduction_Recoupment of Prior Overpayment, dtype: int64
---

In [10]:
#((df.filter(regex = '^reason'))).head(20)

In [11]:
for c in cat2.columns:
    print((cat2[c].value_counts().to_frame('count').rename_axis(c)).reset_index())
    print('---')

   category  count
0       Tea   1880
1  WorkPays    144
---
     zip_code  count
0       71854     67
1       72301     61
2       72209     54
3       72401     44
4       72335     41
5       72114     39
6       72390     36
7       72764     35
8       72204     33
9       72901     31
10      72315     30
11      72076     30
12      72450     27
13      71601     27
14      72956     27
15      72360     26
16      72904     26
17      72701     26
18      72112     25
19      72117     24
20      72206     24
21      72601     23
22      72143     23
23      71603     22
24      72118     22
25      72370     20
26      72342     20
27      71701     19
28      72032     18
29      72703     18
..        ...    ...
317     72568      1
318     72571      1
319     72101      1
320     72093      1
321     72088      1
322     72080      1
323     22485      1
324     20871      1
325     72372      1
326     72069      1
327     71461      1
328     71243      1
329     72513      1
330     72969      1
331     72519      1
332     72520      1
333     72142      1
334     72137      1
335     72135      1
336     72523      1
337     72533      1
338     72537      1
339     72538      1
340     72125      1
341     72124      1
342     72123      1
343     72122      1
344     74960      1
345     72550      1
346     71675      1

[347 rows x 2 columns]
---
                                      funding_stream  count
0  Funded, in whole or in part, with Federal TANF...   2024
---
                       new_applicant  count
0     Not newly-approved application   2014
1  Yes, a newly-approved application     10
---
   family_size  count
0            2    799
1            1    492
2            3    431
3            4    189
4            5     84
5            6     20
6            7      6
7           11      1
8            9      1
9            8      1
---
                                         family_type  count
0  Family included only in overall work participa...   1001
1            Family with no work-eligible individual    968
2  Two-Parent Family included in both the overall...     55
---
       subsid_housing  count
0  No housing subsidy   2023
1      Public housing      1
---
                           medical_assist  count
0     Does not receive Medical Assistance   1332
1   Yes, enrolled in Medicaid and/or CHIP    692
---
                           food_stamps  count
0  Yes, receives food stamp assistance   1329
1          Does not receive food stamp    695
---
                   subsid_child_care  count
0  No subsidized child care received   2024
---
   tanf child care_children_covered  count
0                                 0   2024
---
  Other, Non-sanction  count
0                  No   2024
---
                                   exempt_time_limit  count
0      Family is not exempt from Federal time limit.   1070
1   Yes, family is exempt from accrual of months ...    954
---
                 new_child_only_fam  count
0   No, not a new child-only family   2014
1      Yes, a new child-only family     10
---
                       county  count
0                  Washington    122
1             Pulaski - North    101
2                   Sebastian     96
3                  Crittenden     95
4                      Benton     79
5         Pulaski - Southwest     76
6                      Miller     75
7             Pulaski - South     72
8                   Jefferson     66
9                   Craighead     65
10                   Phillips     65
11                 St Francis     52
12  Mississippi - Blytheville     46
13                   Faulkner     41
14     Pulaski - Jacksonville     41
15                   Crawford     40
16                    Garland     39
17                      White     38
18                     Greene     34
19               Independence     30
20                     Ashley     28
21                      Boone     28
22                        Lee     28
23                    Jackson     27
24                   Poinsett     27
25                   Ouachita     25
26                     Chicot     24
27                   Columbia     24
28                     Baxter     24
29                      Desha     23
..                        ...    ...
53                    Madison      9
54               Little River      9
55                   Woodruff      9
56         Arkansas-Stuttgart      8
57                      Izard      8
58                      Sharp      8
59                 Hot Spring      8
60                  Lafayette      8
61                      Grant      7
62                     Nevada      7
63         Logan - Booneville      7
64                  Van Buren      7
65              Logan - Paris      7
66                     Newton      7
67                     Fulton      6
68                      Stone      6
69                     Dallas      6
70                      Perry      5
71                  Cleveland      4
72                 Montgomery      4
73                    Prairie      4
74                     Searcy      4
75                    Carroll      3
76                   Randolph      3
77            Arkansas-Dewitt      3
78                   Franklin      2
79                       Yell      2
80           Monroe-Clarendon      1
81                       Pike      1
82                    Calhoun      1

[83 rows x 2 columns]
---

In [12]:
worc_fam = df
fam_type = worc_fam.groupby(['category','family_type']).agg({'case_number' : 'nunique'}).rename({'case_number': 'case_count'}, axis='columns')#.reset_index()
fam_type

                                                             case_count
category family_type
Tea      Family included only in overall work participat...         865
         Family with no work-eligible individual                    968
         Two-Parent Family included in both the overall ...          47
WorkPays Family included only in overall work participat...         136
         Two-Parent Family included in both the overall ...           8