In [1]:
import pandas as pd
import numpy as np
import time
import os

t = time.localtime()
timestamp = time.strftime('%y%m%d-%H%M', t)

# read excel
df = pd.read_excel('H://Current_Working_Folder//Reports Analytics//202102//202102-t_worc_families-20210513_1626.xlsx')

# assign path and reporitng month
drive = 'H://Current_Working_Folder//Reports Analytics//'
reporting_month = str(df.loc[0,'reporting_month'])

# Filter with column names ending with amt, amount, nbr_month
df_amt = df.filter(regex = 'amt$|amount$|amount$|nbr_month$|nbr_months', axis='columns')

# Describe the filtered dataframe
df_des = df_amt.describe()

# Write the describe to excel
writer = pd.ExcelWriter(drive + reporting_month + '//' + reporting_month + '_' + 'report' + '-' + timestamp + '.xlsx')
#df_des.to_excel(writer, index = False)
df_des.to_excel(writer, sheet_name='family_stat')
writer.save()

In [2]:
#df.columns

In [3]:
df.shape

(1786, 56)

In [4]:
df['subsid_child_care'].value_counts()

No subsidized child care received    1786
Name: subsid_child_care, dtype: int64

In [5]:
df['subsid_child_care_amt'].sum()

0

In [6]:
df['tanf child care_children_covered'].value_counts()

0    1786
Name: tanf child care_children_covered, dtype: int64

In [7]:
df['tanf child care_amount'].sum()

0

In [8]:
cat = df.drop(df_amt, axis='columns')
#cat1 = cat.drop((cat.loc[:,'reporting_month':'stratum']),axis='columns')
cat1 = cat.drop(['id','reporting_month','case_number','county_fips_code','stratum','disposition','worker_id',
                 'case_manager','area','created_by','updated_by','created_at','updated_at','ans_county',
                 'local_office','waiver_grps'], axis='columns')
cat2 = cat1.drop(cat1.filter(regex = '^reason|^other'), axis='columns')

In [9]:
reason_cat = cat1.filter(regex = '^reason', axis='columns')

for c in reason_cat.columns:
    print(reason_cat[c].value_counts())
    print('---')

No     1537
Yes     249
Name: reason for amount of reduction_work requirements sanction, dtype: int64
---
No    1786
Name: reason for amount of reduction_Family Sanction for an Adult with No High School Diploma or Equivalent, dtype: int64
---
No    1786
Name: reason for amount of reduction_Sanction for Teen Parent not Attending School, dtype: int64
---
No     1703
Yes      83
Name: reason for amount of reduction_Non-Cooperation with Child Support, dtype: int64
---
No     1783
Yes       3
Name: reason for amount of reduction_Failure to Comply with an Individual Responsibility Plan, dtype: int64
---
No     1783
Yes       3
Name: reason for amount of reduction_Other Sanction, dtype: int64
---
0    1786
Name: reason for amount of reduction_Recoupment of Prior Overpayment, dtype: int64
---

In [10]:
#((df.filter(regex = '^reason'))).head(20)

In [11]:
for c in cat2.columns:
    print((cat2[c].value_counts().to_frame('count').rename_axis(c)).reset_index())
    print('---')

   category  count
0       Tea   1676
1  WorkPays    110
---
     zip_code  count
0       71854     65
1       72301     53
2       72209     50
3       72401     37
4       72390     33
5       72204     33
6       72114     32
7       72335     31
8       72315     31
9       72076     30
10      71601     29
11      72904     27
12      71603     26
13      72764     26
14      72956     23
15      72117     23
16      72450     22
17      72901     22
18      72701     21
19      72360     20
20      72112     20
21      72601     19
22      72370     18
23      72206     18
24      71671     17
25      72143     17
26      72342     16
27      72501     16
28      71701     16
29      72034     15
..        ...    ...
297     72113      1
298     72718      1
299     72722      1
300     72107      1
301     72106      1
302     72727      1
303     72730      1
304     72734      1
305     72411      1
306     72738      1
307     70701      1
308     72124      1
309     72651      1
310     72127      1
311     72168      1
312     72616      1
313     72623      1
314     72626      1
315     72180      1
316     72633      1
317     72173      1
318     72638      1
319     72130      1
320     72153      1
321     72145      1
322     72645      1
323     72137      1
324     72135      1
325     72132      1
326     71675      1

[327 rows x 2 columns]
---
                                      funding_stream  count
0  Funded, in whole or in part, with Federal TANF...   1786
---
                       new_applicant  count
0     Not newly-approved application   1769
1  Yes, a newly-approved application     17
---
   family_size  count
0            2    692
1            1    470
2            3    369
3            4    168
4            5     62
5            6     18
6            8      3
7            7      3
8           10      1
---
                                         family_type  count
0            Family with no work-eligible individual    904
1  Family included only in overall work participa...    836
2  Two-Parent Family included in both the overall...     46
---
       subsid_housing  count
0  No housing subsidy   1785
1      Public housing      1
---
                           medical_assist  count
0     Does not receive Medical Assistance   1140
1   Yes, enrolled in Medicaid and/or CHIP    646
---
                           food_stamps  count
0  Yes, receives food stamp assistance   1318
1          Does not receive food stamp    468
---
                   subsid_child_care  count
0  No subsidized child care received   1786
---
   tanf child care_children_covered  count
0                                 0   1786
---
  Other, Non-sanction  count
0                  No   1786
---
                                   exempt_time_limit  count
0   Yes, family is exempt from accrual of months ...    904
1      Family is not exempt from Federal time limit.    880
2  Yes, family is exempt from termination of assi...      2
---
                 new_child_only_fam  count
0   No, not a new child-only family   1778
1      Yes, a new child-only family      8
---
                       county  count
0                  Washington     91
1             Pulaski - South     86
2                  Crittenden     80
3                   Sebastian     77
4                      Miller     76
5                   Jefferson     75
6             Pulaski - North     75
7                      Benton     70
8                   Craighead     64
9         Pulaski - Southwest     62
10                   Phillips     59
11  Mississippi - Blytheville     56
12     Pulaski - Jacksonville     40
13                   Crawford     37
14                 St Francis     35
15                   Faulkner     34
16                    Garland     34
17                      White     34
18               Independence     31
19                   Poinsett     29
20                     Greene     28
21                      Desha     25
22                     Baxter     23
23                   Columbia     22
24                      Boone     22
25                     Ashley     22
26                    Johnson     22
27                     Saline     21
28                    Jackson     21
29                        Lee     21
..                        ...    ...
48                   Woodruff      9
49                    Madison      9
50                      Izard      9
51            Monroe-Brinkley      8
52              Clay - Piggot      8
53                   Lawrence      8
54                      Sharp      8
55                      Perry      7
56                 Hot Spring      7
57         Arkansas-Stuttgart      7
58                      Scott      6
59                     Nevada      6
60                      Stone      6
61               Little River      6
62                      Grant      6
63                  Van Buren      5
64                     Newton      5
65                   Randolph      5
66                  Cleveland      4
67                  Lafayette      4
68                     Dallas      4
69                     Searcy      4
70                 Montgomery      3
71                    Carroll      3
72                    Prairie      3
73                   Franklin      3
74                     Fulton      3
75                       Pike      2
76                       Yell      2
77             Pulaski - East      1

[78 rows x 2 columns]
---

In [12]:
worc_fam = df
fam_type = worc_fam.groupby(['category','family_type']).agg({'case_number' : 'nunique'}).rename({'case_number': 'case_count'}, axis='columns')#.reset_index()
fam_type

                                                             case_count
category family_type
Tea      Family included only in overall work participat...         734
         Family with no work-eligible individual                    904
         Two-Parent Family included in both the overall ...          38
WorkPays Family included only in overall work participat...         102
         Two-Parent Family included in both the overall ...           8