In [1]:
import pandas as pd
import numpy as np
import time
import os

t = time.localtime()
timestamp = time.strftime('%y%m%d-%H%M', t)

# read excel
df = pd.read_excel('H://Current_Working_Folder//Reports Analytics//202007//202007-t_worc_families-20201125_1023.xlsx')

# assign path and reporitng month
drive = 'H://Current_Working_Folder//Reports Analytics//'
reporting_month = str(df.loc[0,'reporting_month'])

# Filter with column names ending with amt, amount, nbr_month
df_amt = df.filter(regex = 'amt$|amount$|amount$|nbr_month$|nbr_months', axis='columns')

# Describe the filtered dataframe
df_des = df_amt.describe()

# Write the describe to excel
writer = pd.ExcelWriter(drive + reporting_month + '//' + reporting_month + '_' + 'report' + '-' + timestamp + '.xlsx')
#df_des.to_excel(writer, index = False)
df_des.to_excel(writer, sheet_name='family_stat')
writer.save()

In [2]:
#df.columns

In [3]:
df.shape

(2321, 56)

In [4]:
df['subsid_child_care'].value_counts()

No subsidized child care received    2321
Name: subsid_child_care, dtype: int64

In [5]:
df['subsid_child_care_amt'].sum()

0

In [6]:
df['tanf child care_children_covered'].value_counts()

0    2321
Name: tanf child care_children_covered, dtype: int64

In [7]:
df['tanf child care_amount'].sum()

0

In [8]:
cat = df.drop(df_amt, axis='columns')
#cat1 = cat.drop((cat.loc[:,'reporting_month':'stratum']),axis='columns')
cat1 = cat.drop(['id','reporting_month','case_number','county_fips_code','stratum','disposition','worker_id',
                 'case_manager','area','created_by','updated_by','created_at','updated_at','ans_county',
                 'local_office','waiver_grps'], axis='columns')
cat2 = cat1.drop(cat1.filter(regex = '^reason|^other'), axis='columns')

In [9]:
reason_cat = cat1.filter(regex = '^reason', axis='columns')

for c in reason_cat.columns:
    print(reason_cat[c].value_counts())
    print('---')

No     2309
Yes      12
Name: reason for amount of reduction_work requirements sanction, dtype: int64
---
No    2321
Name: reason for amount of reduction_Family Sanction for an Adult with No High School Diploma or Equivalent, dtype: int64
---
No    2321
Name: reason for amount of reduction_Sanction for Teen Parent not Attending School, dtype: int64
---
No     2303
Yes      18
Name: reason for amount of reduction_Non-Cooperation with Child Support, dtype: int64
---
No    2321
Name: reason for amount of reduction_Failure to Comply with an Individual Responsibility Plan, dtype: int64
---
No    2321
Name: reason for amount of reduction_Other Sanction, dtype: int64
---
0    2321
Name: reason for amount of reduction_Recoupment of Prior Overpayment, dtype: int64
---

In [10]:
#((df.filter(regex = '^reason'))).head(20)

In [11]:
for c in cat2.columns:
    print((cat2[c].value_counts().to_frame('count').rename_axis(c)).reset_index())
    print('---')

   category  count
0       Tea   2143
1  WorkPays    178
---
     zip_code  count
0       71854     81
1       72209     73
2       72301     65
3       72401     59
4       72390     46
5       72114     45
6       72335     42
7       72204     39
8       72450     35
9       72076     35
10      72901     35
11      72764     34
12      72956     33
13      71601     32
14      72117     31
15      72315     30
16      72904     29
17      72206     28
18      72143     28
19      72118     27
20      71603     26
21      72701     26
22      72342     25
23      72360     25
24      71701     24
25      72112     23
26      71753     22
27      71730     22
28      72370     21
29      72032     21
..        ...    ...
329     72567      1
330     72565      1
331     72533      1
332     72523      1
333     72863      1
334     74960      1
335     72030      1
336     72917      1
337     72022      1
338     72020      1
339     72016      1
340     72010      1
341     71956      1
342     71944      1
343     71838      1
344     71836      1
345     71826      1
346     71744      1
347     71670      1
348     71660      1
349     71658      1
350     71642      1
351     38732      1
352     72969      1
353     70904      1
354     72951      1
355     72949      1
356     38108      1
357     72923      1
358     71752      1

[359 rows x 2 columns]
---
                                      funding_stream  count
0  Funded, in whole or in part, with Federal TANF...   2321
---
                       new_applicant  count
0     Not newly-approved application   2297
1  Yes, a newly-approved application     24
---
   family_size  count
0            2    918
1            1    526
2            3    514
3            4    230
4            5    101
5            6     21
6            7      6
7            8      3
8           11      1
9            9      1
---
                                         family_type  count
0  Family included only in overall work participa...   1225
1            Family with no work-eligible individual   1014
2  Two-Parent Family included in both the overall...     82
---
       subsid_housing  count
0  No housing subsidy   2320
1      Public housing      1
---
                           medical_assist  count
0     Does not receive Medical Assistance   1579
1   Yes, enrolled in Medicaid and/or CHIP    742
---
                           food_stamps  count
0  Yes, receives food stamp assistance   1664
1          Does not receive food stamp    657
---
                   subsid_child_care  count
0  No subsidized child care received   2321
---
   tanf child care_children_covered  count
0                                 0   2321
---
  Other, Non-sanction  count
0                  No   2321
---
                                   exempt_time_limit  count
0      Family is not exempt from Federal time limit.   1318
1   Yes, family is exempt from accrual of months ...   1003
---
                 new_child_only_fam  count
0   No, not a new child-only family   2306
1      Yes, a new child-only family     15
---
                       county  count
0                  Washington    126
1             Pulaski - North    119
2                  Crittenden    103
3                   Sebastian    101
4         Pulaski - Southwest    100
5             Pulaski - South     90
6                   Craighead     89
7                    Phillips     88
8                      Miller     88
9                   Jefferson     81
10                     Benton     76
11                 St Francis     56
12                      White     52
13                    Garland     48
14                   Crawford     47
15                   Faulkner     46
16     Pulaski - Jacksonville     45
17                     Greene     41
18  Mississippi - Blytheville     38
19                     Ashley     32
20                   Ouachita     30
21                   Columbia     29
22                      Boone     29
23                       Pope     28
24                        Lee     27
25                     Chicot     27
26                      Union     27
27                   Poinsett     27
28                       Polk     26
29                     Baxter     25
..                        ...    ...
53                      Clark     10
54            Monroe-Brinkley     10
55                     Nevada     10
56                      Izard     10
57         Logan - Booneville      9
58                      Scott      9
59              Logan - Paris      8
60                    Madison      8
61                 Hot Spring      8
62                     Newton      8
63                   Woodruff      8
64                     Fulton      7
65                      Stone      7
66                  Lafayette      7
67                  Van Buren      6
68                    Prairie      6
69                     Dallas      6
70                      Perry      6
71                  Cleveland      6
72                     Searcy      5
73                 Montgomery      5
74         Arkansas-Stuttgart      5
75                   Randolph      5
76            Arkansas-Dewitt      4
77                   Franklin      3
78                       Yell      3
79                       Pike      2
80                    Carroll      1
81           Monroe-Clarendon      1
82                    Calhoun      1

[83 rows x 2 columns]
---

In [12]:
worc_fam = df
fam_type = worc_fam.groupby(['category','family_type']).agg({'case_number' : 'nunique'}).rename({'case_number': 'case_count'}, axis='columns')#.reset_index()
fam_type

                                                             case_count
category family_type
Tea      Family included only in overall work participat...        1061
         Family with no work-eligible individual                   1014
         Two-Parent Family included in both the overall ...          68
WorkPays Family included only in overall work participat...         164
         Two-Parent Family included in both the overall ...          14