In [2]:
import pandas as pd
import numpy as np
import time
import os

t = time.localtime()
timestamp = time.strftime('%y%m%d-%H%M', t)

# read excel
df = pd.read_excel('H://Current_Working_Folder//Reports Analytics//202104//Version 3//202104-t_worc_families-20210810_1303.xlsx')

# assign path and reporitng month
drive = 'H://Current_Working_Folder//Reports Analytics//'
reporting_month = str(df.loc[0,'reporting_month'])

# Filter with column names ending with amt, amount, nbr_month
df_amt = df.filter(regex = 'amt$|amount$|amount$|nbr_month$|nbr_months', axis='columns')

# Describe the filtered dataframe
df_des = df_amt.describe()

# Write the describe to excel
writer = pd.ExcelWriter(drive + reporting_month + '//' + reporting_month + '_' + 'report' + '-' + timestamp + '.xlsx')
#df_des.to_excel(writer, index = False)
df_des.to_excel(writer, sheet_name='family_stat')
writer.save()

In [3]:
#df.columns

In [4]:
df.shape

(1685, 56)

In [5]:
df['subsid_child_care'].value_counts()

No subsidized child care received                                                                                                                 1557
Yes, receives child care funded entirely or in part with Federal funds (e.g., receives TANF, CCDF, SSBG, or other federally funded child care)     128
Name: subsid_child_care, dtype: int64

In [6]:
df['subsid_child_care_amt'].sum()

108601

In [7]:
df['tanf child care_children_covered'].value_counts()

0    1685
Name: tanf child care_children_covered, dtype: int64

In [8]:
df['tanf child care_amount'].sum()

0

In [9]:
cat = df.drop(df_amt, axis='columns')
#cat1 = cat.drop((cat.loc[:,'reporting_month':'stratum']),axis='columns')
cat1 = cat.drop(['id','reporting_month','case_number','county_fips_code','stratum','disposition','worker_id',
                 'case_manager','area','created_by','updated_by','created_at','updated_at','ans_county',
                 'local_office','waiver_grps'], axis='columns')
cat2 = cat1.drop(cat1.filter(regex = '^reason|^other'), axis='columns')

In [10]:
reason_cat = cat1.filter(regex = '^reason', axis='columns')

for c in reason_cat.columns:
    print(reason_cat[c].value_counts())
    print('---')

No     1419
Yes     266
Name: reason for amount of reduction_work requirements sanction, dtype: int64
---
No    1685
Name: reason for amount of reduction_Family Sanction for an Adult with No High School Diploma or Equivalent, dtype: int64
---
No    1685
Name: reason for amount of reduction_Sanction for Teen Parent not Attending School, dtype: int64
---
No     1592
Yes      93
Name: reason for amount of reduction_Non-Cooperation with Child Support, dtype: int64
---
No     1683
Yes       2
Name: reason for amount of reduction_Failure to Comply with an Individual Responsibility Plan, dtype: int64
---
No     1681
Yes       4
Name: reason for amount of reduction_Other Sanction, dtype: int64
---
0    1685
Name: reason for amount of reduction_Recoupment of Prior Overpayment, dtype: int64
---

In [11]:
#((df.filter(regex = '^reason'))).head(20)

In [12]:
for c in cat2.columns:
    print((cat2[c].value_counts().to_frame('count').rename_axis(c)).reset_index())
    print('---')

   category  count
0       Tea   1582
1  WorkPays    103
---
     zip_code  count
0       71854     61
1       72209     48
2       72301     47
3       72390     39
4       72401     38
..        ...    ...
321     72127      1
322     72142      1
323     71842      1
324     72584      1
325     72847      1

[326 rows x 2 columns]
---
                                      funding_stream  count
0  Funded, in whole or in part, with Federal TANF...   1685
---
                       new_applicant  count
0     Not newly-approved application   1679
1  Yes, a newly-approved application      6
---
   family_size  count
0            2    650
1            1    469
2            3    341
3            4    151
4            5     49
5            6     19
6            7      3
7            8      2
8           10      1
---
                                         family_type  count
0            Family with no work-eligible individual    884
1  Family included only in overall work participa...    757
2  Two-Parent Family included in both the overall...     44
---
       subsid_housing  count
0  No housing subsidy   1684
1      Public housing      1
---
                           medical_assist  count
0     Does not receive Medical Assistance   1068
1   Yes, enrolled in Medicaid and/or CHIP    617
---
                           food_stamps  count
0  Yes, receives food stamp assistance   1171
1          Does not receive food stamp    514
---
                                   subsid_child_care  count
0                  No subsidized child care received   1557
1  Yes, receives child care funded entirely or in...    128
---
   tanf child care_children_covered  count
0                                 0   1685
---
  Other, Non-sanction  count
0                  No   1685
---
                                   exempt_time_limit  count
0   Yes, family is exempt from accrual of months ...    884
1      Family is not exempt from Federal time limit.    799
2  Yes, family is exempt from termination of assi...      2
---
                 new_child_only_fam  count
0   No, not a new child-only family   1679
1      Yes, a new child-only family      6
---
             county  count
0        Washington     86
1         Sebastian     81
2   Pulaski - South     76
3   Pulaski - North     72
4        Crittenden     72
..              ...    ...
73             Yell      2
74       Montgomery      2
75          Carroll      2
76             Pike      1
77   Pulaski - East      1

[78 rows x 2 columns]
---

In [13]:
worc_fam = df
fam_type = worc_fam.groupby(['category','family_type']).agg({'case_number' : 'nunique'}).rename({'case_number': 'case_count'}, axis='columns')#.reset_index()
fam_type

                                                             case_count
category family_type
Tea      Family included only in overall work participat...         661
         Family with no work-eligible individual                    884
         Two-Parent Family included in both the overall ...          37
WorkPays Family included only in overall work participat...          96
         Two-Parent Family included in both the overall ...           7