In [1]:
import pandas as pd
import numpy as np
import time
import os

t = time.localtime()
timestamp = time.strftime('%y%m%d-%H%M', t)

# read excel
df = pd.read_excel('H://Current_Working_Folder//Reports Analytics//202003//202003-t_worc_families-20200512_1153.xlsx')

# assign path and reporitng month
drive = 'H://Current_Working_Folder//Reports Analytics//'
reporting_month = str(df.loc[0,'reporting_month'])

# Filter with column names ending with amt, amount, nbr_month
df_amt = df.filter(regex = 'amt$|amount$|amount$|nbr_month$|nbr_months', axis='columns')

# Describe the filtered dataframe
df_des = df_amt.describe()

# Write the describe to excel
writer = pd.ExcelWriter(drive + reporting_month + '//' + reporting_month + '_' + 'report' + '-' + timestamp + '.xlsx')
#df_des.to_excel(writer, index = False)
df_des.to_excel(writer, sheet_name='family_stat')
writer.save()

In [2]:
#df.columns

In [3]:
df.shape

(2237, 56)

In [4]:
df['subsid_child_care'].value_counts()

No subsidized child care received                                                                                                                 2201
Yes, receives child care funded entirely or in part with Federal funds (e.g., receives TANF, CCDF, SSBG, or other federally funded child care)      36
Name: subsid_child_care, dtype: int64

In [5]:
df['subsid_child_care_amt'].sum()

23936

In [6]:
df['tanf child care_children_covered'].value_counts()

0    2237
Name: tanf child care_children_covered, dtype: int64

In [7]:
df['tanf child care_amount'].sum()

0

In [8]:
cat = df.drop(df_amt, axis='columns')
#cat1 = cat.drop((cat.loc[:,'reporting_month':'stratum']),axis='columns')
cat1 = cat.drop(['id','reporting_month','case_number','county_fips_code','stratum','disposition','worker_id',
                 'case_manager','area','created_by','updated_by','created_at','updated_at','ans_county',
                 'local_office','waiver_grps'], axis='columns')
cat2 = cat1.drop(cat1.filter(regex = '^reason|^other'), axis='columns')

In [9]:
reason_cat = cat1.filter(regex = '^reason', axis='columns')

for c in reason_cat.columns:
    print(reason_cat[c].value_counts())
    print('---')

No     2044
Yes     193
Name: reason for amount of reduction_work requirements sanction, dtype: int64
---
No    2237
Name: reason for amount of reduction_Family Sanction for an Adult with No High School Diploma or Equivalent, dtype: int64
---
No    2237
Name: reason for amount of reduction_Sanction for Teen Parent not Attending School, dtype: int64
---
No     2136
Yes     101
Name: reason for amount of reduction_Non-Cooperation with Child Support, dtype: int64
---
No     2236
Yes       1
Name: reason for amount of reduction_Failure to Comply with an Individual Responsibility Plan, dtype: int64
---
No     2236
Yes       1
Name: reason for amount of reduction_Other Sanction, dtype: int64
---
0    2237
Name: reason for amount of reduction_Recoupment of Prior Overpayment, dtype: int64
---

In [10]:
#((df.filter(regex = '^reason'))).head(20)

In [11]:
for c in cat2.columns:
    print((cat2[c].value_counts().to_frame('count').rename_axis(c)).reset_index())
    print('---')

   category  count
0       Tea   2011
1  WorkPays    226
---
     zip_code  count
0       71854     75
1       72301     69
2       72209     61
3       72401     55
4       72114     43
5       72390     43
6       72335     42
7       72204     39
8       72956     36
9       72901     35
10      72764     34
11      71601     32
12      72315     32
13      72076     32
14      72360     31
15      72143     31
16      72206     30
17      71603     30
18      72904     28
19      72450     28
20      72117     28
21      71701     25
22      71953     24
23      72032     23
24      72342     23
25      72601     23
26      72112     22
27      71901     22
28      72701     22
29      71913     20
..        ...    ...
326     72565      1
327     72523      1
328     72513      1
329     72503      1
330     72479      1
331     72471      1
332     72735      1
333     72749      1
334     72751      1
335     72440      1
336     72732      1
337     71642      1
338     72736      1
339     75250      1
340     72969      1
341     72959      1
342     72933      1
343     72923      1
344     74960      1
345     72774      1
346     72863      1
347     72857      1
348     72845      1
349     72833      1
350     72821      1
351     72811      1
352     93245      1
353     72826      1
354     72757      1
355     71677      1

[356 rows x 2 columns]
---
                                      funding_stream  count
0  Funded, in whole or in part, with Federal TANF...   2237
---
                       new_applicant  count
0     Not newly-approved application   2212
1  Yes, a newly-approved application     25
---
   family_size  count
0            2    874
1            1    544
2            3    475
3            4    221
4            5     92
5            6     24
6            7      5
7            9      1
8            8      1
---
                                         family_type  count
0  Family included only in overall work participa...   1125
1            Family with no work-eligible individual   1052
2  Two-Parent Family included in both the overall...     60
---
       subsid_housing  count
0  No housing subsidy   2237
---
                           medical_assist  count
0     Does not receive Medical Assistance   1498
1   Yes, enrolled in Medicaid and/or CHIP    739
---
                           food_stamps  count
0  Yes, receives food stamp assistance   1685
1          Does not receive food stamp    552
---
                                   subsid_child_care  count
0                  No subsidized child care received   2201
1  Yes, receives child care funded entirely or in...     36
---
   tanf child care_children_covered  count
0                                 0   2237
---
  Other, Non-sanction  count
0                  No   2237
---
                                   exempt_time_limit  count
0      Family is not exempt from Federal time limit.   1197
1   Yes, family is exempt from accrual of months ...   1040
---
                 new_child_only_fam  count
0   No, not a new child-only family   2214
1      Yes, a new child-only family     23
---
                       county  count
0                  Washington    111
1             Pulaski - North    110
2                  Crittenden    103
3                   Sebastian     97
4         Pulaski - Southwest     85
5                   Jefferson     85
6                      Miller     84
7                   Craighead     84
8                    Phillips     80
9             Pulaski - South     73
10                     Benton     66
11                      White     59
12                 St Francis     55
13     Pulaski - Jacksonville     50
14                    Garland     50
15                   Faulkner     50
16                   Crawford     49
17  Mississippi - Blytheville     39
18                       Polk     34
19                   Poinsett     32
20                     Greene     32
21                        Lee     32
22                   Ouachita     31
23                      Boone     30
24                     Ashley     28
25                   Columbia     27
26             Pulaski - East     26
27                     Conway     25
28                       Pope     25
29                    Jackson     25
..                        ...    ...
52              Clay - Piggot     10
53                     Fulton     10
54                      Grant     10
55                   Woodruff      9
56                      Scott      9
57                      Izard      9
58            Monroe-Brinkley      9
59         Logan - Booneville      8
60                      Stone      8
61         Arkansas-Stuttgart      8
62                  Cleveland      8
63                 Hot Spring      8
64                  Lafayette      7
65                    Madison      7
66                  Van Buren      7
67                     Dallas      7
68                   Randolph      7
69                      Clark      7
70              Logan - Paris      6
71                     Searcy      6
72                      Perry      6
73                     Newton      5
74            Arkansas-Dewitt      4
75                 Montgomery      4
76                   Franklin      4
77                    Prairie      4
78                       Pike      2
79           Monroe-Clarendon      2
80                       Yell      2
81                    Carroll      1

[82 rows x 2 columns]
---

In [12]:
worc_fam = df
fam_type = worc_fam.groupby(['category','family_type']).agg({'case_number' : 'nunique'}).rename({'case_number': 'case_count'}, axis='columns')#.reset_index()
fam_type

                                                             case_count
category family_type
Tea      Family included only in overall work participat...         912
         Family with no work-eligible individual                   1052
         Two-Parent Family included in both the overall ...          47
WorkPays Family included only in overall work participat...         213
         Two-Parent Family included in both the overall ...          13